[2016-10-18 18:25] righdforsa opened #24 "Bedrock should create the database if it doesn't exist"
The bedrock binary doesn't create the database unless you run "-clean". This should just be default behavior.

[2016-10-18 20:12] righdforsa opened #27 "Bedrock should be packaged with a config file"
Now that it's an official open-source project, we should make it follow expected practices about what the package comes with. A config file would be a good place to start. Currently any persistent custom configs have to be put in the init script, but we shouldn't expect people to hack on the init script, they should have a config file that sets these options. The easiest path to this is probably j

[2016-10-19 11:21] macmattias opened #34 "Cant install on Ubuntu Server 16.04"
Like what I read about bedrock and I was just about to start a small project - perfect to try something new.
Tried to install the three first steps worked just fine but the last, install sent me this:
`sudo apt-get install bedrock
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an i

[2016-10-19 11:27] macmattias commented on #34
I tried to install libpcrecpp0 but got that it is named libpcrecpp0v5, installed that no change, tried to make a symlink with the name libpcrecpp0 no luck.

[2016-10-19 16:11] coleaeason commented on #34
Hey there! Sorry about that, the instructions on the index page are for trusty. There is a Xenial repo with a package that has the correct require, you just need to change the sources.list file to pull from the right one. You can either edit `/etc/apt/sources.list.d/bedrock.list` and replace `trusty` with `xenial` OR you can just copy and paste this line which will download and install the correct

[2016-10-19 16:11] #34 closed

[2016-10-19 18:45] tonyarkles opened #35 "Documentation on how the synchronization happens?"
I just came across this today via O'Reilly's Four Short Links, and I can't seem to find anything about how the actual replication and consensus stuff work on the project.

[2016-10-19 19:23] ShahriyarR opened #36 "Starting bedrock (via systemctl): bedrock.serviceFailed to start bedrock.service: Unit bedrock.service not found. with installation on Ubuntu 16.04"
The result:

[code]
Info:

[code]

[2016-10-19 19:32] coleaeason commented on #36
Can you do `service bedrock status` and post the output? It should shed some light on what part of the post install script is failing.

[2016-10-19 19:47] ShahriyarR commented on #36
Removed:
`sudo apt-get remove --purge bedrock`

Installed:

[code]

[2016-10-19 19:48] arjunsharma opened #37 "Unclear on how the duplication works, and what happens if a single DB is updated directly."
This is partially related to #35. I would love to get a more in depth explanation of how Bedrock actually does its duplication, and what happens in certain common cases that distributed databases run into. But in particular, I had a use case while playing around with Bedrock that I would love more documentation about.

I followed the multizone example where I had 3 different Bedrock nodes running.

[2016-10-19 20:52] righdforsa commented on #36
This error is happening because we didn't include a systemd unit config for bedrock. We're working on getting one written, should be available soon.

[2016-10-19 21:00] quinthar commented on #37
Hey there, I've written up some thoughts here: http://bedrockdb.com/synchronization.html  Please reopen if you have more questions.  Thanks for asking!

[2016-10-19 21:00] #37 closed

[2016-10-19 21:00] quinthar commented on #35
Hey there, I've written up some details on synchronization here: http://bedrockdb.com/synchronization.html  Please reopen if you have more questions.  Thanks!

[2016-10-19 21:00] #35 closed

[2016-10-19 21:07] tonyarkles commented on #35
@quinthar you rock. Thank you ver much!

[2016-10-20 00:01] righdforsa commented on #36
In the meantime, users who get this error should be able to start the app manually from the init script:
[code]

[2016-10-20 06:57] ShahriyarR opened #39 "Add error message for non-existing options"
The test:

[code]

The way it should act -> "Error: unknown option --wth, please use -help to list available options"

[2016-10-20 07:02] ShahriyarR opened #40 "Add informative version information for -version"
Please fix version information:

[code]

Add arch, package info and product version, something similar like:
[code]

[2016-10-21 07:51] elfring opened #42 "Remove an unnecessary null pointer check"
[An extra null pointer check is not needed](https://isocpp.org/wiki/faq/freestore-mgmt#delete-handles-null "Do I need to check for NULL before delete p?") in [the macro "SDELETE"](https://github.com/Expensify/Bedrock/blob/0732e39259651a3dc7baff528d8f97662bb6ee5c/libstuff/libstuff.h#L396 "Update candidate: SDELETE()").

[2016-10-21 07:57] elfring opened #43 "reserved identifier violation"
I would like to point out that an identifier like "[`_CT_`](https://github.com/Expensify/Bedrock/blob/0732e39259651a3dc7baff528d8f97662bb6ee5c/libstuff/libstuff.h#L51 "Update candidate")" [does not fit](https://www.securecoding.cert.org/confluence/display/cplusplus/DCL51-CPP.+Do+not+declare+or+define+a+reserved+identifier "Do not use identifiers that are reserved for the compiler implementation.")

[2016-10-21 11:13] elfring opened #44 "Catch exceptions in main()?"
I expect that exception handling is usually supported by a C++ program. I wonder why your function "[main](https://github.com/Expensify/Bedrock/blob/551cbbea5449fd014e44cdd106d33a714ee9a2ed/main.cpp#L72)" does not contain [corresponding try and catch instructions](https://stackoverflow.com/questions/368184/does-it-make-sense-to-catch-exceptions-in-the-main) so far.

How do you think about recommen

[2016-10-22 07:53] quinthar commented on #42
Oh, very interesting!

[2016-10-22 20:24] quinthar commented on #44
Sounds great to me.  Would you like to submit a PR that does this?

[2016-10-22 20:25] quinthar commented on #43
What would you recommend?

[2016-10-22 20:27] quinthar commented on #40
Ah, ya in GitHub there aren't specific version numbers -- the commit hash is much more informative.  However, I agree it's not very consumable.  I think something like a build date might be  useful in that it's what you actually *do* care about (eg, "How old is this build?").

@tylerkaraszewski - How difficult would it be to capture a build date somewhere and output with `-version`?

[2016-10-22 20:28] quinthar commented on #39
Good idea!  Would you like to submit a PR to do this?

[2016-10-22 20:30] elfring commented on #43
Will the affected identifiers work also without [extra underscores](https://stackoverflow.com/questions/228783/what-are-the-rules-about-using-an-underscore-in-a-c-identifier#answer-228797 "What are the rules about using an underscore in a C++ identifier?")?

[2016-10-22 22:42] quinthar commented on #43
Very interesting!  I think we'll leave these for now but let's definitely fix these in the future if they cause conflicts with other libraries or any other problems.

[2016-10-22 22:42] #43 closed

[2016-10-23 08:15] elfring commented on #43
How do you think about to avoid that this software [depends on undefined behaviour](https://www.securecoding.cert.org/confluence/display/c/CC.+Undefined+Behavior#CC.UndefinedBehavior-ub_106 "Avoid undefined behaviour?")?

[2016-10-25 09:46] flodnv commented on #42
Thanks for the report, fixed by https://github.com/Expensify/Bedrock/pull/47

[2016-10-25 09:46] #42 closed

[2016-10-25 18:31] quinthar commented on #43
Sounds good, please go ahead and submit a pr!

On Oct 23, 2016 1:15 AM, "Markus Elfring" <notifications@github.com> wrote:

[2016-11-14 15:18] quinthar opened #53 "Tag v1.0 release"
Can you please tag the exact version that corresponds to the v1.0 public release?  I'd like to review the commit since then to discuss when to do a v1.1 and so on.

[2016-11-14 15:18] quinthar commented on #53
Or this might go best to @righdforsa -- not sure.

[2016-11-14 17:46] tylerkaraszewski commented on #53
Is that the commit that was on github at the time you gave your presentation on it?

[2016-11-14 22:32] quinthar commented on #53
I'm thinking whatever version was used to make the apt-get repo version.

On Mon, Nov 14, 2016 at 6:46 PM, Tyler Karaszewski <notifications@github.com

[2016-11-14 22:49] coleaeason commented on #53
[code]
Is the version that was in the repo when your presentation ended. `7a4c774` being the short commit hash.

[2016-11-15 22:26] tylerkaraszewski commented on #53
I think this is correct:
https://github.com/Expensify/Bedrock/releases/tag/1.0

[2016-11-16 00:21] quinthar commented on #53
Awesome, thanks!

-david

On Tue, Nov 15, 2016 at 11:26 PM, Tyler Karaszewski <
notifications@github.com> wrote:

[2016-11-16 01:11] #53 closed

[2016-11-16 21:21] ahughes02 opened #55 "Bedrock MySQL plugin does not work with MySQL 5.7 clients"

[2016-11-18 14:07] quinthar commented on #55
Hm, that's interesting.  Can you copy/paste the terminal session that you're testing with so we can see the exact query and such that you were using?  Also, can you share the exact version string of the mysql client (eg, run `mysql --version`)?  Thanks!

[2016-11-18 14:16] quinthar opened #57 "Create a 1.1 release"
Let's aim to do a monthly release, with "dot releases" if there are just small bugfixes and cleanup, and "full releases" if there are meaningful functional changes.  In this case it looks like there are no externally-visible (eg, interface-changing) functional changes, so we'd just do a dot release.  Thoughts?

Also, any thoughts on how to put plugins into a dynamically-loading library such that w

[2016-11-18 18:18] ahughes02 commented on #55
In this case Bedrock is running locally
[code]

I can get to bedrock with nc as expected

[code]

[2016-11-21 16:17] quinthar commented on #57
For now, let's just release HEAD as v1.2 and we can worry about a more deliberate approach later.

[2016-12-01 17:17] jungle-boogie opened #63 "freebsd compile assistance"
Hi All,

Thanks for creating and maintaining this project!

What's happening here when using gmake on freebsd?

[code]

[code]

[2016-12-01 17:21] amidvidy commented on #63
try `GXX=clang++ CC=clang gmake`

[2016-12-01 17:32] jungle-boogie commented on #63
Gets a little further...

[code]

[2016-12-01 17:42] tylerkaraszewski commented on #63
Hey there, we're making two changes that you might find helpful.

1) We're removing the dependency on pcre (see here: https://github.com/Expensify/Bedrock/pull/62)

2) We've disabled the pre-compiled headers for OS X, because thus far we haven't tried to make them work with clang. See here: https://github.com/Expensify/Bedrock/blob/master/Makefile#L45

You might need to do something similar for fr

[2016-12-01 17:52] jungle-boogie commented on #63
@tylerkaraszewski,

I did see the pull request for removing pcre yesterday or so. After that's merged, I'll attempt a build again.

My uname is simply FreeBSD. After 1 is completed, I'll update the makefile and substitute with freebsd to see what happens.

Thanks!

[2016-12-01 17:56] tylerkaraszewski commented on #63
You can also just checkout that branch and see if it works for you, if you don't want to wait. :)

[2016-12-05 04:22] jungle-boogie commented on #63
I see you reverted the patch after it was in master for a little bit:
https://github.com/Expensify/Bedrock/commit/2cb8c4029725a572543b3e10003a0cac678a6f42

With this being the case, can you add code to point to the pcrecpp.h?

[2016-12-07 02:19] quinthar opened #65 "Add multi-threaded replication"
Problem:
====
Bedrock already leverages multiple CPUs for read capacity.  However, it only has a single write thread.  And while [selective synchronization](http://bedrockdb.com/synchronization.html) largely decouples write performance from network performance, the write thread is limited to the capabilities of a single CPU.  (In theory it's also limited by the system's disk performance, but on a

[2016-12-07 04:09] mcnamamj commented on #65
For administrative purposes, is it super painful to ALWAYS have raw SQL and MAY have binary changeset?  If binary exists, use that, otherwise use raw SQL?  We use the raw SQL multiple times a week for auditing purposes and debugging.

[2016-12-07 08:05] danielk1977 commented on #65
That looks a good plan to start with.

For steps 3 and 4, I think you need to use the code on the "changebatch" branch of the SQLite project:

  https://www.sqlite.org/src/timeline?t=changebatch

It may also be that the processing in step 2 should be in SQLite::commitTransaction() or similar. So that the changeset for the transaction is constructed right before the transaction is committed.

The f

[2016-12-07 20:49] quinthar commented on #65
@danielk1977 Awesome, thank you.  I've updated based on your comments, can you please re-review?  Also, a couple questions:

1. Is it expected that the `changebatch` code will forever remain on a branch, and not in the mainline?  If so, are you updating this branch with each release?

2. Do you anticipate any significant performance impact from using the session interface to gather the changeset?

[2016-12-08 02:18] tylerkaraszewski commented on #65
I feel like there are probably some improvements we could make in the suggestion for Phase 3. It might involve a bit of an overhaul to some of bedrock's internals, but we could probably make things a bit more straightforward than the combination of what's suggested above and the current implementation (for example - why distinguish read vs. write threads at all? Make them all read/write threads).

[2016-12-08 09:31] danielk1977 commented on #65
That all looks to be as discussed a few months back. With much more detail of course though.

It's on a branch at the moment to preserve flexibility - once it's on the trunk it's more difficult to change the interface or functionality. If we determine that it can be used in Bedrock we'll move it to the trunk.

I updated the branch to match the SQLite trunk yesterday. We can up date the branch with

[2016-12-08 16:12] quinthar commented on #65
Awesome.  Tyler, I think this is all yours!

On Dec 8, 2016 1:31 AM, "danielk1977" <notifications@github.com> wrote:

[2016-12-14 15:37] qqo commented on #36
Hey @righdforsa, @quinthar,

I couldn't find how you build deb package for bedrock, so its not a proper PR per se, but here you go:

https://gist.github.com/qqo/32c26c6f4c24edd1c6aca216275d1b1e

In a nutshell, you can simply add those three files into debian control file and it should just work. The tests I did are also added to gist, and stuff I was concerned about marked as 'todo' in comments. S

[2016-12-15 12:07] vlcinsky opened #66 "Clarify, if the solution can run on MS Windows"
I did not find a note about possible compatibility of bedrock with MS Windows (none, possible, planned, implemented).

For some use cases would MS Windows implementation help.

[2016-12-16 18:56] righdforsa commented on #36
Thanks, @qqo ! We haven't included the build script yet, but this is super useful, thanks. Your documentation is very helpful, too!

[2016-12-19 01:03] quinthar commented on #66
Hi!  Most of the original `libstuff` code was originally written to be Windows compatible, but we haven't built against it in years so that code was removed.  That said, there are very few places that are platform specific, so I don't think a Windows (re)port would be difficult.  So, PRs welcome!  However, this isn't something that Expensify is currently developing.  Thanks for asking!

[2016-12-19 01:03] #66 closed

[2016-12-22 14:27] willfong opened #68 "Verbose by default doesn't seem to good"
By default, it seems like verbose logging is enabled:

[code]

That doesn't seem like a good default. My 100-query sysbench run added 10M to syslog:

[code]

Maybe there's a better way to handle this?

Thanks,
-will

[2016-12-22 15:46] willfong opened #69 "Crash when sysbench disconnects"
Hi!

I've been testing bedrock with sysbench (just want to see MySQL compatibility), and noticed it would always crash when I Ctrl+C sysbench.

Bedrock version: 43234709c216b19ae7ce7ea7a5219467bf50e773

Test case:
[code]

Stacktrace:
[code]

Right before the stack trace, minus some test data:
[code]

The full log (13MB compressed to 700KB), minus the sysbench data, can be found [here](https://www.

[2016-12-23 04:46] willfong opened #70 "MariaDB 10.0 Client (Ubuntu 16.04) Crashes Bedrock"
Bedrock version: 43234709c216b19ae7ce7ea7a5219467bf50e773

Using the MariaDB 10.0 client on Ubuntu 16.04LTS seems to crash bedrock.

Test case:

[code]

Unfortunately, there doesn't seem to be anything logged:
[code]

[2016-12-23 04:55] willfong opened #71 "Existing pid file should raise warning on startup"
Bedrock version: 43234709c216b19ae7ce7ea7a5219467bf50e773

When using "service bedrock start", the script should check to see if the pid file exists, and if so, raise an error instead of silently ignoring it. (or should be handled in another way better).

This causes a bit of confusion when bedrock crashes (and didn't clean up its files).

Things are running well:
[code]

Crash the server:
[code]

[2016-12-24 00:07] quinthar commented on #71
To clarify, are you saying that `service bedrock start` currently does *not* start the service if there is a leftover pidfile from a previous instance?

[2016-12-24 05:56] willfong commented on #71
Yes, that is correct. Sorry for not being clear before. Thanks!

[2016-12-26 14:33] quinthar commented on #57
@righdforsa @tylerkaraszewski - Now that we've moved all of auth into its own `.so`, can we start formally versioning each new Bedrock release?  Also, I'm wondering if calling it 1.0 is misleading, given that we've been using this in production at scale for many years.  I vote we use an Ubuntu-like numbering scheme, which just represents the year and month.  So, the next release would be Bedrock 1

[2016-12-26 20:57] righdforsa commented on #57
No objection with the numbering scheme. I think just releasing HEAD each
time we do a deploy is a pretty good process. One thing that will help a
lot is moving to using open-source bedrock, which is possible now that auth
is in a separate .so file.

On 26 December 2016 at 14:33, David Barrett <notifications@github.com>
wrote:

[2016-12-26 22:59] quinthar commented on #57
Yep, I'd love to do this, and then re-announce to the list.

On Mon, Dec 26, 2016 at 8:57 PM, Christopher Peters <
notifications@github.com> wrote:

[2017-01-01 15:18] quinthar commented on #70
@willfong Can you clarify that the following steps will reproduce it:

1. Install Ubuntu 16.04
2. Run `sudo apt-get install mariadb`
3. Install Bedrock per the instructions at http://bedrockdb.com
4. Run `service bedrock start`
5. Run `mysql -h127.0.0.1 -e "SELECT 1 AS foo, 2 AS bar;"`

Is there anything more to it than that -- no special commands or anything?

Tips for fixing:
====
Here are some

[2017-01-01 15:33] quinthar commented on #69
Tips for fixing:
====
* Interesting, so this one seems like it might be due to us having unclean socket shutdown code when the incoming socket terminates before generating the response.
* Specifically, it seems like we're calling [`onPortRequestComplete()`](https://github.com/Expensify/Bedrock/blob/master/plugins/MySQL.cpp#L257) on a socket that had already been closed.
* That happens [here](https

[2017-01-01 23:53] quinthar commented on #70
FYI, posted an Upwork job here if anybody would like to pick this up: https://www.upwork.com/jobs/_~013f98c7e3d216f1a1

[2017-01-01 23:53] quinthar commented on #55
FYI, I've posted an Upwork job here if anybody would like to take it on: https://www.upwork.com/jobs/~01ea4d5a5acac33758

[2017-01-02 00:01] quinthar commented on #68
Hm, well we're actively developing on Bedrock so those logs are super helpful.  However, I agree that if you're not actively improving Bedrock itself, then they're mostly just noise.  I think the solution would be to add a `-q` "quiet mode" option that reduces verbosity (eg, only showing HMMM, WARN, and ALRT).

[2017-01-02 00:12] quinthar commented on #68
To do this should be simple:

1. [This line](https://github.com/Expensify/Bedrock/blob/c5f0f4d512523d0f050ebf197ff71680f1ed9a9f/main.cpp#L75) sets the default log level to `LOG_INFO`
2. [This line](https://github.com/Expensify/Bedrock/blob/c5f0f4d512523d0f050ebf197ff71680f1ed9a9f/main.cpp#L158) sets it to `LOG_DEBUG` if you provide command line parameter `-v` for verbose logging
3. Add an `else if

[2017-01-02 00:14] quinthar commented on #68
FYI, posted an Upwork project here if anybody wants to earn a quick $500: https://www.upwork.com/jobs/~01a73c71734d653add

[2017-01-02 00:16] quinthar commented on #69
FYI, added an Upwork project here if anybody wants to fix this and earn a quick $500: https://www.upwork.com/jobs/~0117b61ddf80095260

[2017-01-02 00:26] quinthar commented on #71
@righdforsa Without actually going ahead and fixing it, can you just write up a bullet list from memory on how someone *would* go about fixing this?  I don't know anything at all about how `service` works, else I'd do it myself.

[2017-01-02 00:26] quinthar commented on #63
@tylerkaraszewski What's the latest plan here?

[2017-01-02 00:28] quinthar commented on #36
@righdforsa Can you please figure out how to convert this into a PR and merge it?

[2017-01-02 00:29] quinthar commented on #40
@tylerkaraszewski I know you're updating how versioning is handled in Bedrock, can you comment on how that change affects this request?

[2017-01-02 00:30] quinthar commented on #44
This isn't a bad idea, but it's not one I'm personally passionate about doing (or hiring someone to do).  Going to close this unless someone else wants to take it on.

[2017-01-02 00:30] #44 closed

[2017-01-02 00:30] quinthar commented on #39
This isn't a bad idea, but it's not one I'm personally passionate about doing (or hiring someone to do). Going to close this unless someone else wants to take it on.

[2017-01-02 00:30] #39 closed

[2017-01-02 00:31] quinthar commented on #65
@tylerkaraszewski Any progress on this?

[2017-01-02 17:20] tylerkaraszewski commented on #65
Not much. Starting on it again today, we wanted to finish up auto-export by the end of the year, and combined with the holidays, not a lot else got done on this in the past couple weeks. I expect to be working on this through offshore (unless it's completed sooner).

[2017-01-02 17:22] tylerkaraszewski commented on #40
That change and this change are mostly orthogonal. That change just makes sure we include plugin version info when determining if different nodes are on the same version.

[2017-01-02 17:22] tylerkaraszewski commented on #63
We currently have no plan here. Do we want to add freebsd to a list of supported platforms?

[2017-01-02 17:27] quinthar commented on #63
Oh, not that Expensify would support, but I'm open to it being community
supported.  I'm more wondering what your plan is for the regexp library --
my recollection is you went to std::regex, but it was like 10x slower and
thus reverted?  I ask because I think it was the pcre library that broke
the freebsd build, so knowing your plan with regex would affect the
community's plan for compiling on fre

[2017-01-02 17:59] tylerkaraszewski commented on #63
I don't think we have any plans to switch back to std:regex at this point, the performance was just too poor.

[2017-01-02 22:51] quinthar commented on #63
Reminds me of the Boost::Spirit library.  So insanely powerful, so insanely
slow.  K, thanks!

On Mon, Jan 2, 2017 at 6:59 PM, Tyler Karaszewski <notifications@github.com>
wrote:

[2017-01-04 07:48] Vadius commented on #71
@quinthar, `service foo bar` just runs a script from /etc/init.d with passed parameter, e.g.:
`# service bedrock start`
is equal to
`# /etc/init.d/bedrock start`

So, I guess, @willfong has a script which runs the bedrock like that:
`/usr/sbin/bedrock -fork -nodeName bedrock -db /var/lib/bedrock/bedrock.db -serverHost 0.0.0.0:8888 -nodeHost 0.0.0.0:8889 -priority 200 -pidfile /var/run/bedrock.pid

[2017-01-04 08:07] Vadius commented on #71
@quinthar, I've downloaded .deb package from your site and inspected script at `/etc/init.d/bedrock`.
It uses SSD (`/sbin/start-stop-daemon`) facility to start new instance, but has CLI option '--pidfile $PIDFILE', which causes described behavior because (quote from man):
[code]

I think, your package builder guys should check if existing pidfile points to existing process and remove the pidfile i

[2017-01-04 08:31] Vadius commented on #63
FreeBSD has PCRE support, but if it installed as port (to `/usr/local` as mentioned above), clang will not find it by default (see https://wiki.freebsd.org/WarnerLosh/UsrLocal).
I think here is 2 options how to solve issue:
* make GCC the only supported compiler for FreeBSD
* modify Makefile for better support of clang on FreeBSD (or explicitly use /usr/local for -I and -L options)

[2017-01-04 23:28] righdforsa commented on #71
That pretty much covers it, from the approach. We need to get the init
script into the public repo (currently in the internal configs) to
effectively delegate this task.

On 4 January 2017 at 08:07, Vadim Prozorov <notifications@github.com> wrote:

[2017-01-05 02:26] willfong commented on #71
Hi! For clarification, I used the default init scripts from the apt repo. Thanks for looking into this!

[2017-01-05 03:47] willfong commented on #68
Is it possible to make the -q option enabled by default in the apt package? That way non-developers won't have to worry about enabling it? Thanks!

[2017-01-05 04:16] willfong commented on #70
@quinthar Yes, those steps are correct. Thanks for looking into this!

[2017-01-06 01:49] jungle-boogie commented on #63
Well if option 1 is the default, will that still require the commit that was backed out?

[2017-01-06 10:44] Vadius commented on #63
@jungle-boogie , I've tried to build the code on FreeBSD 11.0, but there is a couple of code issues which make build impossible, e.g.: https://github.com/Expensify/Bedrock/blob/master/libstuff/SSignal.cpp#L5 misses case of FreeBSD OS.
So, I think, there should be a set of code changes to build the project on BSD platform.

PS. Tried to compile with `clang` because `gcc` crashes on my fresh system

[2017-01-07 00:02] jungle-boogie commented on #63
Ah, good point. Once the code is added, I'm happy to test it out.

[2017-01-07 23:59] quinthar commented on #65
@danielk1977 - It just occurred to me that our plan for multi-threaded writes depends on two features that aren't in the trunk:

* `BEGIN CONCURRENT` to lock individual pages rather than the entire database, for writes
* "deferred page allocation" to avoid multiple transactions competing to lock the page that contains the "free page list" by doing all new page assignment in the `COMMIT`

What are

[2017-01-08 00:06] quinthar commented on #68
Thanks @basiliscos I really I appreciate the quick work!

@righdforsa I like the idea of making `-q` the default for the public repo, but running without it internally.  How would you recommend doing that?

Also, @righdforsa, what's the ETA for the next public release, and ideally switching our internal use over to the public apt get repo?

[2017-01-08 04:44] divaykin commented on #55
[code]

i.e. `-v` verbose is on already (after normal bedrock install)

here is the output:

[code]

[2017-01-08 14:17] basiliscos commented on #71
Hi,

I've looked at the issue. The actual script `/etc/init.d/bedrock` does not matters, as the service is supervised by `systemd`. It generates the system.d service at `/run/systemd/generator.late/bedrock.service`

with the content like:

[code]

The problem is in `Restart=no`, it cannot be tuned as it is already hard-coded in https://github.com/systemd/systemd/blob/master/src/sysv-generator/sysv

[2017-01-08 15:11] basiliscos commented on #71
Btw, actually this is not a bug, IMHO.

For example, on my gentoo-box:

[code]

[2017-01-08 15:25] quinthar commented on #71
Ok, so to clarify I understand, what is the "correct" behavior of `service bedrock start` if a pidfile exists?  Should it:

1. Do nothing (this is what it currently does, right?)
2. Generate a warning indicating that a pidfile exists, but *not* start the server
3. Start the server, despite the pidfile

[2017-01-08 15:38] Vadius commented on #71
Correct behavior is to start the server, despite the pidfile because there is actually no running service with such pid

[2017-01-08 15:50] basiliscos commented on #71
what to do - depends on used launcher, i.e. `systemd` in case of ubuntu 16.04. AFAIK you cannot do 1.3 under `systemd` at all. With

`Restart=always`

it will always restart on crash. I.e. once started (`service bedrock start`) systemd will always re-launch it on crash. You don't need execute `service bedrock start`. You **can**  execute that command, but it will do nothing.  Meanwhile with

`Rest

[2017-01-08 15:53] quinthar commented on #71
@basiliscos Ok, so you are saying that the correct behavior of `Restart=no` is to *not* start the server on `service bedrock start` if there is an existing pidfile.  However, currently it doesn't even give an error message.  Would you agree that it should give an error in this scenario?

[2017-01-08 16:23] basiliscos commented on #71
Well, it depends, how to interpret the `start` command.

From systemd point of view, if you invoked  `service bedrock start` the service _is started_. Then service crashes, but anyway it _was started_. , so, when you type `service bedrock start` again (with the policy never restart == `Restart=no`), systemd knows that it was started and does nothing.

Why no error? Because the service was started.

[2017-01-08 16:30] basiliscos commented on #71
Actually, all that problems are solved if you'll invoke `restart` command. And that's correct. The problem might be not only in stale pid-file, but all other resouces (i.e. locks, temporally files etc.)

on `restart` all that should be cleaned, but not on `start`.

[2017-01-08 16:40] quinthar commented on #71
Hm, well I do like the idea of outputting an error in this case if possible.

@basiliscos - Is it convenient to output an error message when running `service bedrock start` with an exiting pidflie?

[2017-01-08 16:42] Vadius commented on #71
@basiliscos, I'm not agree that `service bedrock start` should not start the server if it's not actually running.
Imagine you're in production, so there should be a way to easy start service if not running. So support engineer should just type `service bedrock start` to run the service instead of guessing what to do to run it and where he should search for pidfile (and existing pidfile is not a re

[2017-01-08 16:54] basiliscos commented on #71
https://www.freedesktop.org/software/systemd/man/systemd.service.html

I cannot find any option for that in systemd unit (and the script/daemon are not executed) - so, no way to emit warning.

[2017-01-08 16:59] basiliscos commented on #71
Use that option for systemd unit file

`Restart=always`

and you'll get that in automatical way, rather tnan manual.

Then, he should do `service bedrock restart`.

PS. I don't like systemd too, but that's the way it behaves.

[2017-01-09 07:06] danielk1977 commented on #65
Sorry about the delay on this. The "begin-concurrent" branch now has the changebatch functionality on it:

  http://www.sqlite.org/src/info/50fb1eb368f14e4d

Since neither of these changes are on the trunk, they are both still experimental. Which means we can change them to respond to Bedrock's requirements. If Bedrock can use either or both in production, we'll likely move them to trunk.

[2017-01-09 08:12] quinthar commented on #65
Cool!  And the "deferred page allocation" proposal?  At what point do you
recommend we begin explore this?

On Mon, Jan 9, 2017 at 8:07 AM, danielk1977 <notifications@github.com>
wrote:

[2017-01-09 08:29] divaykin commented on #55
There was a breaking change in MySQL protocol version 5.7 related to depreciating "old" password hashing authentication facility. See some explanation here: [http://dev.mysql.com/doc/refman/5.7/en/mysql-command-options.html#option_mysql_secure-auth](http://dev.mysql.com/doc/refman/5.7/en/mysql-command-options.html#option_mysql_secure-auth)

The suggested PR #79 makes Bedrock send full initial hand

[2017-01-09 08:41] danielk1977 commented on #65
Deferred page allocation, assuming I'm not misunderstanding things, is part of the begin-concurrent feature. So it's already on the branch.

[2017-01-10 21:58] tylerkaraszewski commented on #65
Alright, I'm downloading the tarball here: http://www.sqlite.org/src/info/50fb1eb368f14e4d to work on this from, as that seems to be the latest in the 'begin-concurrent' branch. Let's see what happens.

[2017-01-10 22:45] tylerkaraszewski commented on #65
This seems to build a suitable `sqlite3` console binary that has both JSON and BEGIN CONCURRENT, and the SESSION extension.

[code]

This requires having built the SQLite amalgamation (which you can do with `.configure && make sqlite3.c`, as long as you have tclsh installed).

So I think I've probably got the right code to start from here, now to stuff this into Bedrock and see if it works...

[2017-01-10 22:59] tylerkaraszewski commented on #65
And there's a branch in bedrock using this SQLite here: https://github.com/Expensify/Bedrock/compare/tyler-multi-write?expand=1

It doesn't do anything yet except build against a new sqlite3.c.

[2017-01-11 01:13] tylerkaraszewski commented on #65
One interesting thing to add (and I plan to do this inside the implementation for "phase 1" is to time how long we spent inside the lock held inside `commit()`. This needs to be significantly smaller than our overall CPU usage for us to gain much benefit from this change (it probably is, but if it isn't, then this isn't worth doing).

[2017-01-11 03:08] tylerkaraszewski commented on #65
Here's a reiteration of @quinthar's proposal, just for my own understanding. There are some important questions later on in here, though.

#Reiteration of @quinthar's Proposal

When the master node starts up, we create a `changebatch`. Call this `changebatch 0`. (really, whatever the last `changebatch` was, +1).

For each transaction (regardless of number of threads), we create a `changeset`. When

[2017-01-11 11:54] danielk1977 commented on #65
The way I understood things, the latter. SQLite will return SQLITE_BUSY_SNAPSHOT when the second of the two writers attempts to COMMIT. It has no option but to execute a ROLLBACK and start again.

I'm not sure I completely understand the reports/policies example. Say command 1 reads table "reports" and writes "policies", and command 2 reads "policies" and writes "reports". Command 1 is committed f

[2017-01-11 16:27] tylerkaraszewski commented on #65
@danielk1977 - I think you've answered my most important question with this:

That means we can do this:

Without worrying about cases in which the *written* rows don't conflict, but read rows do. This is something I wasn't sure about.

This is what I expect, too, and our current model works like this:

1. `BEGIN TRANSACTION`
2. Perform significant work (not all of which is DB-centric)
3. `COMMIT`

[2017-01-12 14:18] quinthar commented on #57
Bump.  @righdforsa - Any eta on us using the public apt-get repo, and updating it regularly?

[2017-01-14 11:43] Vadius commented on #70
@willfong, could you check if the bug reproduced on 7ece319 ?
I've tried to do it, but all works fine:
[code]

[2017-01-16 12:06] quinthar commented on #71
@righdforsa @tylerkaraszewski Do you agree with @basiliscos that the original implemented behavior is correct and as good as can be done, so we should close this issue?

[2017-01-16 12:13] quinthar commented on #70
@willfong - Can you please rebuild from the master branch and test to see if you can reproduce this issue?  Thanks!

[2017-01-16 12:25] quinthar commented on #55
This should be fixed in HEAD, but leaving this issue open until it's been deployed.  Reassigning to @righdforsa

[2017-01-16 12:26] quinthar commented on #69
This should be fixed in HEAD; reassigning to @righdforsa until deployed.

[2017-01-16 12:28] quinthar commented on #68
`-q` option added in HEAD; reassigning to @righdforsa until deployed.

[2017-01-17 17:40] tylerkaraszewski commented on #65
# Bedrock Parallel Writer Design Doc
-----------------------------------

This document describes V1 of a version of Bedrock that can do multiple parallel writes. This is a complex project that has shown a need for adjustment as new understanding of the limitations of existing code comes to light, so it's expected that this document will be somewhat fluid. The goal of V1 of this project is mainly

[2017-01-18 21:41] quinthar commented on #71
@basiliscos Now that the init script is in the repo (https://github.com/Expensify/Bedrock/pull/94), any new ideas on how to add an error message, or is your conclusion still the same?

[2017-01-18 21:42] quinthar commented on #70
@willfong - Eager for your comments here, btw.

[2017-01-19 01:40] righdforsa commented on #71
Like @basiliscos says, this seems to be a design decision by the systemd folks. If the "service" command is creating a systemd service under the covers in 16.04, we're limited by the implementation of that init system.

I believe we can add early "prereq" commands to the systemd service when we're managing it ourselves, (which should hopefully be in the next release) which might allow us to work a

[2017-01-19 02:50] willfong commented on #70
@quinthar Hi, Sorry about the delay. This week is a bit busy for me, but I can check it out next week. Thank you very much for your fast resolution to this 😄

[2017-01-19 13:22] quinthar commented on #71
So to clarify, are you ok with the current behavior and closing this issue?

On Wed, Jan 18, 2017 at 6:40 PM, Christopher Peters <
notifications@github.com> wrote:

[2017-01-27 02:19] willfong commented on #70
Sorry, this week has been terribly busy for me. Can we mark this as resolved for now? When I get some time again, I can open a new issue if I encounter this again. Thank you again for the prompt resolution!

[2017-01-27 04:53] Vadius commented on #70
@willfong , I can send you already built Bedrock binaries in tgz, so you should just run your test. If it's ok, send me a mail to vadius[]vadius.ru, I'll reply with the archive.

[2017-02-02 01:05] righdforsa commented on #36
We've created a config directory in the repo, so now all we need to do is massage these a bit, test, and do a release.

[2017-02-02 01:06] righdforsa commented on #36
Reassigning to @coleaeason who should be able to get this done faster.

[2017-02-06 17:41] brianredbeard opened #98 "Makefile mistakenly updated for GCC Paths"
In commit 75b1f4ed105146e3f358311f38775a4df15cf327 it seems that an attempt was made to utilize a different version of GCC than the default version for the developers distro.  This change goes against the documented update mechanism for Ubuntu (and other distributions) and creates an case where the software will not compile on some systems (as I found out).

The developer should make the change us

[2017-02-06 17:46] brianredbeard commented on #98
Additionally, it seems odd that both `CC` and `GXX` are used.  Is there any reason why the more conventional `CXX` variable was not used in place of `GXX`?

[2017-02-06 17:51] brianredbeard opened #99 "Rework CLI flag mechanism"
When attempting to use new software on a POSIX system many users will attempt to
begin by running the utility with `--help`.

When attempting to do this with `bedrock` the application actually starts and
seemingly just ignores the flags.  In addition because there is no output to
`STDOUT` or `STDERR` it is unclear if the application is:

  - operating
  - malicious
  - crashing
  - operating in so

[2017-02-06 17:53] brianredbeard opened #100 "Allow configuration via environment variables"
In order to more easily use Bedrock in a containerized manner, it would be nice
to utilize configuration with environment variables.

  -versionOverride <version>
  -db             <filename>
  -serverHost     <host:port>
  -nodeName       <name>
  -nodeHost       <host:port>
  -peerList       <list>
  -priority       <value>
  -plugins        <list>
  -cacheSize      <kb>
  -readThreads    <#>

[2017-02-06 17:53] brianredbeard opened #101 "Allow application to log to STDOUT"
In order to make Bedrock more operationally friendly to containerized
environments it is desirable to allow the application to log to `STDOUT` (and
potentially `STDERR`) rather than sending all log mesages to `/dev/log`.

[2017-02-06 17:54] brianredbeard opened #102 "Properly handle UNIX signals"
Bedrock currently ignores the proscribed behavior of most of the signals defined
in:

  - `POSIX.1-1990`
  - `POSIX.1-2001`
  - `4.2BSD`
  - `4.4BSD`
  - `SVr4`
  - `Sys V`

There are five basic actions defined for signal handling as per the POSIX
programmers manual:

[code]

Additionally, the signals defined as per the POSIX programmers manual are as
follows:

[code]

Currently Bedrock's behavior

[2017-02-08 13:40] willfong commented on #55
Hi!

I built from the latest source, and looks like this is broken for the MariaDB 10.0 client:

[code]

Please let me know if I should open this in a new issue.

Thanks,
-will

[2017-02-09 21:55] tylerkaraszewski commented on #65
### Current state of multi-write Bedrock
#### Daily update, Feb 9

* In general, all existing tests pass.
* Most of the "wierdnesses" that are easily reproducible have been worked out (i.e., things like "once in a while, it hangs, but if you kill it and restart it, the test completes successfully"). One of these remains, and roughly every dozen test runs or so, I can get the test to hang, though i

[2017-02-09 21:57] quinthar commented on #65
Woo!!

On Thu, Feb 9, 2017 at 1:55 PM, Tyler Karaszewski <notifications@github.com>
wrote:

[2017-02-10 23:00] tylerkaraszewski commented on #65
### Current state of multi-write Bedrock
#### Daily update, Feb 10

* The last random hand *seems* to have been fixed, in most scenarios. If we comment out the `failover` and `restoreMaster` tests before the "Conflict Spam" test, then it works 100% of the time (in several runs of 100 tests in a row). However, if we leave `failover` and `restoreMaster` in place beforehand, it occasionally fails. Ho

[2017-02-14 01:13] tylerkaraszewski commented on #65
### Current state of multi-write Bedrock
#### Daily update, Feb 13

* `Status` has been fixed, where by "fixed" I mean, "doesn't return an error". It currently doesn't return the list of peers or the command queue for its own node, unless it just happens to run on the sync thread. This is an issue to fix further along.
* With `Status` returning valid data, the `clusterUp`, `failover` and `restoreM

[2017-02-16 00:41] tylerkaraszewski commented on #65
### Current state of multi-write Bedrock
#### Daily update, Feb 15

* The main problem we had around `COMMIT` just plain blocking for 30+ seconds for no reason is fixed! Or rather, avoided, as it only seems to happen on NFS filesystems. The tests are no longer being run with DBs on NFS filesystems.

* We may want to re-visit the `PRAGMA schema_version` issue now, and see if it's still a thing.

*

[2017-02-16 01:00] quinthar commented on #65
Wooo!!!  Go!  Go!  Go!!

On Wed, Feb 15, 2017 at 4:41 PM, Tyler Karaszewski <notifications@github.com

[2017-02-17 00:44] tylerkaraszewski commented on #65
### Current state of multi-write Bedrock
#### Daily update, Feb 16

* The "abandoned command" thing turned out to be something different - it was possible, if two commands had the same `creationTimestamp`, and would both end up at the end of the same priority queue, for the second command to just get lost. This is fixed now! (Note: this exists in production as well) I've successfully run my test w

[2017-02-17 01:13] mcnamamj commented on #65
WoooHOooOOOooOoOo!

--
Matt McNamara
Expensify.com

On Thu, Feb 16, 2017 at 6:44 PM, Tyler Karaszewski <notifications@github.com

[2017-02-17 21:58] jgmdev opened #108 "ArchLinux PKGBUILD"
Just wanted to say that I discovered this project today and found it really interesting (given my love for sqlite) so I wanted to give it a test run and created an ArchLinux package:

https://aur.archlinux.org/packages/bedrock/

Thanks for contributing such an interesting project, looking forward to make use of it on the future!

[2017-02-18 00:22] quinthar commented on #108
Awesome, thank you!  Out of curiosity, what commands would someone run to
install this into Arch?  (Sorry, I'm not familiar with the platform -- I'm
looking for the Arch equivalent of what's on bedrockdb.com for Ubuntu.)
 Additionally, what is the process for updating that binary when we do new
releases?  Thanks!

On Fri, Feb 17, 2017 at 1:58 PM, Jefferson González <
notifications@github.com> wrot

[2017-02-18 00:31] jgmdev commented on #108
To install on arch there are various methods for this user submitted package but most popular would be:
[code]
This would fetch a fresh a copy of github bedrock repo and compile, then generate a package that can be easily installed. To update to latest codebase a user just needs to do the same and the version of the package will be automatically calculated from the git repo.

[2017-02-18 00:34] quinthar commented on #108
Oh wow, that's bad ass.  So it just pulls down the HEAD of the master
branch and runs with that?  Why am I not using Arch...

On Fri, Feb 17, 2017 at 4:31 PM, Jefferson González <
notifications@github.com> wrote:

[2017-02-18 00:37] jgmdev commented on #108
actually, later on I can move this package to fetch the stable releases tagged here on github and create another package named bedrock-git that does fetch from master branch but for now this should do the trick :)

[2017-02-18 05:32] quinthar commented on #108
Oh, actually re-reading that -- to clarify, does the user just need to run`yaourt -S bedrock` and that will download, compile, and install Bedrock?  Or does that just create a package that needs to be installed with some other command?

[2017-02-20 01:55] quinthar opened #109 "Improve child job handling"
Background:
====
Bedrock::Jobs has the concept of a "child" job: just set `parentJobID` when calling `CreateJob` and the parent/child linkage will be retained.  The design pattern is that the parent would create child jobs to work in parallel, and then "pause" itself (by calling `FinishJob` on itself) to to wait for the children to complete.  When all children complete, the parent would be "resume

[2017-02-20 02:07] quinthar opened #110 "Add Bedrock::Jobs::CancelJob"
Problem:
====
There are scenarios where a parent has a series of children, but the work done by one of the children obviates the others.  In this scenario it'd be nice to make a "best attempt" to cancel the other children (eg, if they haven't yet started `RUNNING`), but currently there is no safe way to do this.

Solution:
=====
Add a formal `CancelJob` command that:

1. Applies the `CancelJob` lo

[2017-02-20 03:12] quinthar opened #111 "Add `retryAfter` to Bedrock::Jobs::GetJob"
Problem:
====
Most jobs are automatically processed, such as via `BedrockWorkerManager`.  And automatically retrying a job that is automatically processed is generally a bad idea, as not knowing anything else, whatever failed the first time will likely fail again.  (And if it failed for a reason that will likely not happen again, then the worker should throw a RetryException... but that's a differ

[2017-02-20 03:25] quinthar commented on #111
@danielk1977 - As the resident query plan master, can you comment on whether you think the above query plan would be significantly slower than the original?  Thanks!

[2017-02-20 09:52] danielk1977 commented on #111
They're quite similar. The first scans a subset of the index jobsStateNextRunName and does a by-rowid lookup on the main table for each index row scanned. It then tests the GLOB condition, and if it matches inserts the row into the temporary b-tree. Once it has accumulated all matching rows in the temp b-tree, it reads them out in sorted order to return to the user.

The second query is similar, e

[2017-02-20 14:52] iwiznia commented on #109
There is no explicit way to know, but we decided that it was the responsibility of the parent job to track that (which we do on the Harvester jobs with the `isWaiting` param.

While I agree with the changes proposed here, I'm hesitant to implement them now, given that we already have a performance problem with the jobs system and this will only make things worse. I think we should stop and fix our

[2017-02-20 14:54] iwiznia commented on #110
In this case, shouldn't we iterate over all children and try to cancel them, before trying to cancel the parent?

[2017-02-20 15:25] jgmdev commented on #108
It will do the whole process transparently: download, compile, package, install.

[2017-02-20 19:40] quinthar commented on #110
That is handled by (1) and will already be done by the time we get to (5).

[2017-02-20 19:45] quinthar commented on #109
Yep, I agree this isn't strictly needed.  However, I think this is a cleaner solution than `isWaiting`.  Mainly I think `isWaiting` was fine for our first parent/child job, but now that we're adding more it's time to clean it up a bit so we don't extend a non-ideal paradigm.

I don't see how any of this aggravates the load problem.  This is about tightening up edge cases and making parent/child jo

[2017-02-20 19:48] iwiznia commented on #109
This is adding more queries to the existing commands, If we add more queries then times for each command will be higher than now, thus aggravating the current performance problem.

[2017-02-20 19:54] quinthar commented on #109
Well yes, in an absolute sense this is true.  But the queries these are adding are all trivial, and thus will be instant.  Adding these won't slow anything down (eg, if they existed, removing these wouldn't speed anything up).  The problem we have is `GetJob` takes too long, but this is unrelated to that.  Let's not use `GetJob`'s performance problems as a reason to block all other development on

[2017-02-20 20:17] iwiznia commented on #109
The current queries are also supposed to be trivial and instant, but reality says they are not, and we don't yet have a clear understanding on why. Also, even if they are "instant" they will add some overhead, even if it's just a little bit.
To be clear, I'm not saying we should block development, we can develop the changes as long as we don't deploy them. Or if we want to deploy them, we must be

[2017-02-21 01:31] quinthar commented on #109
@iwiznia says "if we make the tests to make sure we are not going to make the current performance situation worse, then I'm fine with adding them now" -- so I'm going to take this as a green light.

[2017-02-21 01:41] quinthar commented on #111
Well, that query is already brutally slow so that's not great.  But it's
already "too slow" so "2x too slow" isn't really much of a change.
Regardless, we need to find a way to speed up "GetJob" overall to make it
"fast enough", and then hopefully "2x fast enough" is still fast enough.
Thanks!

On Mon, Feb 20, 2017 at 1:52 AM, danielk1977 <notifications@github.com>
wrote:

[2017-02-21 05:21] quinthar commented on #108
Awesome.  I've updated the homepage with these instructions.  Thanks!!

[2017-02-21 05:21] #108 closed

[2017-02-21 05:22] quinthar commented on #108
Here's the commit itself -- please review and lmk if there are any mistakes: https://github.com/Expensify/Bedrock/commit/ff34f74dde2f91cd323be40785174b6c05e95380

[2017-02-21 05:24] quinthar commented on #111
Actually, strike that -- it's actually super fast, it looks like a flaw in our monitoring system was mis-attributing a slowdown to Bedrock.

[2017-02-21 06:12] tylerkaraszewski commented on #65
### Current state of multi-write Bedrock
#### Daily update, Feb 20

* Less completed today than I really wanted, but `Unique` and `creationTimestamp` have been pretty thoroughly investigated. `unique` requests are no longer supported (the `Jobs` plugin has it's own notion of `unique` Jobs which is separate from this). Their semantics were strange and there was no current use for them.

`creationTi

[2017-02-22 01:03] tylerkaraszewski commented on #65
### Current state of multi-write Bedrock
#### Daily update, Feb 21

I have a bit of a cold and am operating at less than 100%, but still got a fair amount done today:

* Abandoned commands - There's a test for these now and they seem to work fine (i.e., not cause any problems for subsequent commands).
* HTTPS - Tests created passed and verified, HTTPS seems to work just fine as long as the command

[2017-02-23 01:01] tylerkaraszewski commented on #65
### Current state of multi-write Bedrock
#### Daily update, Feb 22

* `PRAGMA schema_version`: I've looked over this again and find no evidence to suggest any problems, so I'm returning it to it's previous behavior and checking it off.
* Log line prefixes are fixed.
* I started trying to look into how to test this for performance, and for how many conflicts it might cause when we use it in product

[2017-02-23 18:46] tylerkaraszewski commented on #65
PR created, further updates will be in there.

[2017-03-14 10:49] mindreframer opened #120 "Is compilation on OSX supported?"
First, thx for the outstanding project, I wish it would get more exposure!

On the YN thread here https://news.ycombinator.com/item?id=12739771 @quinthar says that most of the development happens on OSX.

![screen shot 2017-03-14 at 11 44 17](https://cloud.githubusercontent.com/assets/1232/23897163/53ce9870-08ac-11e7-9566-98bbe8e1e3cf.png)

After some fiddling around (gcc instead of gcc-6 and g++

[2017-03-14 16:21] quinthar commented on #120
Hi Roman, thanks for asking.  We actually stopped supporting OSX builds
here at Expensify because we do all Bedrock developing inside Vagrant
Ubuntu VMs.  However, it'd be great if someone else were to step up to take
on that responsibility.  In this particular case, this link might be
helpful:
http://stackoverflow.com/questions/21821527/error-on-xcode-no-matching-function-for-call-to-max
 Thanks!

[2017-03-14 16:45] mindreframer commented on #120
Hi David,

good to know!

Just got it compiled, where should I document this?

[2017-03-14 17:28] quinthar commented on #120
Perhaps submit a PR for the homepage at bedrockdb.com to give OSX build and
install instructions?

On Tue, Mar 14, 2017 at 9:45 AM, Roman Heinrich <notifications@github.com>
wrote:

[2017-03-15 17:46] #120 closed

[2017-03-21 18:47] tylerkaraszewski commented on #55
I also can't connect to the bedrock MySQL plugin using the current head of the master branch, with this error:

[code]

[2017-03-26 01:04] divaykin commented on #55
@tylerkaraszewski one of possible solutions would be to specify `--default-auth=mysql_native_password` option so the client won't try to switch to `old_password` in case of 5.6 i.e.

`denis@u16:~/dev/bedrock/tmp$ mysql -h 127.0.0.1 -p 3306 --default-auth=mysql_native_password
Enter password:
Welcome to the MySQL monitor.  Commands end with ; or \g.
Your MySQL connection id is 1
Server version: bed

[2017-03-26 01:07] divaykin commented on #55
Another alternative would be to detect attempt of switching authentication plugin (server now proposes native, client wants old in case of version 5.6) and respond accordingly.

[2017-03-26 03:55] quinthar commented on #55
To clarify, what does MySQL do, and are we doing exactly that?  The goal would be to exactly emulate the most recent version of MySQL I would think.

[2017-03-26 04:29] divaykin commented on #55
@quinthar see https://dev.mysql.com/doc/internals/en/connection-phase.html

We're proposing in the latest version of Bedrock code mysql_native_password authentication. 5.7 client also have mysql_native_password by default so it happily accepts it. But 5.6 has mysql_old_password by default and it sends us "authentication method switch" packet as a response. Bedrock has no support of multiple authen

[2017-03-26 06:21] quinthar commented on #55
How difficult would it be to add a minimal level of authentication
emulation to support these clients out of the box, without requiring a
command line flag?  My concern is that basically nobody is going to realize
there is a flag that will make this work, and will instead just conclude
Bedrock is broken.

On Sat, Mar 25, 2017 at 9:29 PM, Denis Ivaykin <notifications@github.com>
wrote:

[2017-03-26 06:25] divaykin commented on #55
The very minimum to support both 5.6 and 5.7 w/o CLI flags would be to handle "auth method switch" packet and reply so 5.6 would have an impression that it got the method switched to "old" one.

This would require detecting new connection time packet type and serializing another kind of response packet.

[2017-03-26 06:26] quinthar commented on #55
I don't have a clear understanding of what that entails, but based on that
description that doesn't sound too bad.  Can you give that a shot?

On Sat, Mar 25, 2017 at 11:25 PM, Denis Ivaykin <notifications@github.com>
wrote:

[2017-03-26 10:25] divaykin commented on #55
@quinthar actually I was wrong, it required protocol version upgrade to 4.1 see https://github.com/Expensify/Bedrock/pull/127

It'd deal with MariaDB as well (tested it).

[2017-03-26 10:30] divaykin commented on #70
@willfong should be fixed by https://github.com/Expensify/Bedrock/pull/127

[2017-03-27 11:11] iwiznia opened #128 "Timeout param not working properly"
I don't know if this is something particular to the jobs plugin or that affects all bedrock.
The timeout param is not working. Tested this by:
- Clearing the jobs table.
- Starting a request to `GetJob` with a timeout of 60 seconds and connection wait.
- Create a new job to be processed now.
- Job is not returned, we always return a timeout.
- Make the same `GetJob` query again, job is returned.

[2017-03-27 16:25] tylerkaraszewski commented on #128
Let's fix this in multi-write bedrock if it's not urgent.

[2017-03-28 18:45] quinthar commented on #128
@iwiznia Can you share copies of exactly what test you ran?  Like, copy/paste your terminal session when testing with netcat.

[2017-03-29 11:39] iwiznia commented on #128
Steps I took:
- Clear the jobs table:  `delete from jobs`
- Using `psysh` I did:
[code]
- Using a different `psysh` session, I did:
[code]
- The 1st psysh session didn't return immediately a result and when it did return, it didn't return the newly created job.

[2017-03-29 20:33] quinthar commented on #128
Can you test using netcat?  The protocol is trivial, just hand type the
requests and then copy/paste the terminal session here?

On Mar 29, 2017 4:39 AM, "Ionatan Wiznia" <notifications@github.com> wrote:

[2017-03-29 20:44] iwiznia commented on #128
It's the same thing, but here you go:

1. On one nc instance
[code]
2. On another one:
[code]
3. Back to the first one, command keeps waiting till it hits the timeout and:
[code]

[2017-03-29 22:14] quinthar commented on #128
yep, that seems broken.  But we definitely can't upgrade "webrock" until
this is finished, as BWM completely and totally depends on this behavior
working correctly.

On Wed, Mar 29, 2017 at 1:44 PM, Ionatan Wiznia <notifications@github.com>
wrote:

[2017-03-29 22:48] tylerkaraszewski commented on #128
Are you sure BWM completely and totally depends on this behavior? I built the version currently in production `954c75063b232bd3d39f56c81e2acce75d380a69` (according to @coleaeason), and tested this with the same results that @iwiznia saw.

[2017-03-29 23:11] quinthar commented on #128
Whoa, that's crazy. I just confirmed on Prod.  Well that's interesting.
Thinking more on it, I think you're right -- my logic was backwards.  I was
thinking this would cause every webserver to do a high-frequency GetJob as
fast as possible, DDOS'ing Bedrock.  However, it's the opposite: this bug
is causing BWM to wait up to 60 seconds longer than necessary to get a
job.  So that's not nearly as ba

[2017-03-29 23:45] tylerkaraszewski commented on #128
Being that things are working (except that bedrock jobs are delayed by up to a minute if the queue is completely empty), I think we should stick with the original plan and fix it in multi-write bedrock. Then we won't have to fix it twice in two wildly diverging codebases.

[2017-03-30 00:22] iwiznia commented on #128
Yeah, it's not a big deal, I agree we can fix in after multi-write (fun fact: I discovered this by _really zooming in_ on a graphana graph).
BTW, this happens a lot, when jobs are not backed up, which is most of the time.

[2017-03-30 16:31] cead22 commented on #109
@quinthar how is this scenario possible? I thought the parent job wouldn't resume until ALL child jobs finished

Also, are you interested in implementing this yourself?

[2017-03-30 21:56] quinthar commented on #109
This could happen if the parent creates more children (in the `PAUSED` state) after being resumed to process a previous set of children (in the `FINISHED` state).

[2017-03-30 22:30] quinthar commented on #109
I've updated the design with this text:

So, we still prevent creating children of `QUEUED` jobs (which I think its the important, dangerous case, because jobs that are `QUEUED` should be assumed to be able to run at any moment, so no external operation upon them is safe).

[2017-03-31 16:29] fnwbr opened #130 "Make Bedrock::Cache::WriteCache return current contents"
## Background

We are going to use Bedrock's Cache plugin to make use of the distributed/replicated storage for checking incoming webhook notifications and if they might have been processed by a different node already. We also want to avoid running into race conditions (e.g. in case the same notification gets sent twice in the same second) by doing a read first and a write after that.

## Solution

[2017-03-31 16:30] fnwbr commented on #130
We should also add the `cache.max` configuration to the documentation, as well as adding a note about that Bedrock's Cache is invalidating entries using a LRU order.

[2017-04-07 01:02] #109 closed

[2017-05-29 09:57] fnwbr commented on #111
So what's the status with this?
The PR was reverted with https://github.com/Expensify/Bedrock/pull/194 - correct?

[2017-05-31 19:49] coleifer opened #203 "Replication / failover details?"
I saw in the docs that this project uses paxos under-the-hood for leader election, but I was having a bit of trouble finding where in the code-base this is implemented. Could someone point me to the paxos impl?

[2017-05-31 21:08] quinthar commented on #203
Hi!  Here's a link to some comments that outline the clustering algorithm:

https://github.com/Expensify/Bedrock/blob/master/sqlitecluster/SQLiteNode.cpp#L268

There is no "paxos" code block (the word doesn't even appear in the codebase, I don't think).  Rather, Paxos is just a good way to describe the clustering algorithm to elect a master.  Thanks for asking!

[2017-05-31 21:08] #203 closed

[2017-05-31 21:46] coleifer commented on #203
Thanks, I missed that when I was looking around. I saw you all talking about multi-threaded writes, by the way, and wondered if you'd considered Oracle's SQLite front-end for BerkeleyDB? Whitepaper is here: http://www.oracle.com/technetwork/database/berkeleydb/learnmore/bdbvssqlite-wp-186779.pdf ... And the money-shot:

![s1496266716 23](https://cloud.githubusercontent.com/assets/119974/26655239/a

[2017-05-31 22:06] quinthar commented on #203
Ah, we've considered BDB as the concurrent writing with page locking is very attractive.  However, SQLite has since added concurrent writing with page locking (in a branch), so that's where we're starting first.  We've been *extremely* happy with SQLite's performance overall, and are optimistic with the early results of multiple writers.  In general, I think SQLite's and BDB's page locking is prob

[2017-06-01 02:10] coleifer commented on #203
That's interesting about SQLite supporting multiple writers / finer-grained locking, I sparingly follow the mailing list but I'll keep an eye out for more news on it.

Love seeing all the cool ways people are using SQLite. I'll keep an eye on this project :)

[2017-06-09 09:00] fnwbr commented on #111
Bump, any news on this?
If the code itself was fine and we only had to revert because of the schema changes taking too long when done via `upgradeDatabase` can we please look into manually running the schema changes first?

[2017-06-09 16:47] tylerkaraszewski commented on #111
We split the change into a schema change and a code change so that we could test them individually, and we're waiting for the schema change to be deployed. The fires this week have kept #infra pretty busy so it's been a bit delayed. When the schema change goes out, we'll see if that causes a problem, indicating a code problem, or if the schema change causes a problem itself.

[2017-06-14 03:45] tylerkaraszewski opened #217 "Improve signal handling"
We currently see some inconsistent behavior in our signal handling, particularly around handling SIGSEGV. Sometimes we get a stack trace, sometimes not. Sometimes we can generate a core dump. Sometimes not.

Which threads are able to do what and the safety of `SWARN` inside a signal handler are largely uninvestigated. We should improve the robustness of our signal handling, make sure the right sig

[2017-06-14 08:24] schaars opened #218 "Bedrock doesn't allow concurrent schema changes"
It is currently not possible to create a table once the system has started:
[code]

Bedrock creates a CONCURRENT transaction for every query, which doesn't allow schema changes. Replacing the CONCURRENT transaction by a normal one (by replacing line 85 in `BedrockCore.cpp` from `if (!_db.beginConcurrentTransaction())` to `if (!_db.beginTransaction())` fixes the issue. However this change affects e

[2017-06-14 23:30] #217 closed

[2017-06-15 06:04] mcnamamj commented on #218
Thanks for your report!  We're undergoing a massive change that's unintentionally preventing that from working, but do think we'd like to support this functionality.

In the meantime, if you're looking for a non-code based work around, for our existing Bedrock deployments we just take down one node at a time (in a 4+ node cluster you can do this without incurring production downtime), use `sqlite3

[2017-06-16 18:24] tylerkaraszewski commented on #111
@coleaeason - we're still waiting on the schema change to be deployed, correct?

[2017-06-16 18:27] tylerkaraszewski commented on #65
This issue is no longer useful.

[2017-06-16 18:27] #65 closed

[2017-06-19 09:22] flodnv commented on #111
I can help with the deploys, I'm down to deploy bedrock this week.

[2017-06-19 17:10] coleaeason commented on #111
Sorry, yeah i've had no time for this and it's pretty low priority for me compared to other things on my plate. If someone else ( @flodnv or @iwiznia ) wants to take ownership of deploying this since they are more invested in getting it out, then I'm fine with that.

[2017-06-19 18:50] Crazee opened #224 "Plugin examples"
What would really help are a couple of examples on how to write (and compile and load) a plugin that defines a sqllite stored procedure or function.

If you currently use a couple of mySQL "CREATE FUNCTION ..." procedures a "simple database conversion" won't get you there.

[2017-06-22 22:10] Crazee opened #231 "Database checkpoints"
So I managed to insert a few rows into a table using the mySQL interface but when I look at the sqlite files the *shm and *wal files are being updated but the main .db file never is.  No matter how long I wait.  Doesn't seem good:

[code]

I tried doing the magic sqlite thing:

`$res = $db->query("PRAGMA wal_checkpoint(PASSIVE);");`

but Bedrock wasn't at all happy about that:

[code]

[2017-06-27 18:29] brandocorp commented on #36
Just ran into this same issue today and wanted to give this a "bump"

[2017-07-03 06:23] quinthar commented on #231
Hm, to clarify the main DB should get updated when it is "checkpointed", which happens by default every time 1000 pages are changed (I think) or the database is shut down.  Please see here: https://sqlite.org/wal.html  However, I'm curious why this is a concern of yours.  SQLite should check the WAL file in addition to the main file, so this is an internal detail that shouldn't normally affect you

[2017-07-03 06:23] #231 closed

[2017-07-10 12:46] fnwbr commented on #111
Bumping this again; I know you are having lots of other priorities, this would definitely help us on the Chatbot front though.

[2017-07-10 16:35] flodnv commented on #111
@tylerkaraszewski where's the PR for this? Is is this https://github.com/Expensify/Bedrock/pull/235 ? Then bump @cead22 @mea36

[2017-07-10 19:52] cead22 commented on #111
@flodnv yes.

@fnwbr @mea36 feel free to take over recreating the PR. It's filled with conflicts that since the PRs CancelJob and CreateJobs got merged.

Please make sure to run the tests in #235 #191 and #195 when submitting the PR
cc @pecanoro

[2017-07-10 20:49] mea36 commented on #111
Thanks for the update @cead22
Why aren't those tests automated?

[2017-07-10 20:57] cead22 commented on #111
We hadn't started writing tests at the time and I didn't know how to setup the environment to run them. I asked @flodnv to get that started and now we have tests in place.

As a reminder, I wrote the original PR in May

[2017-07-11 14:46] fnwbr commented on #111
Re-created the original PR (linked above) to get this kickstarted; any reason that @tylerkaraszewski's un-revert did not have the schema changes coming with the PR anymore?

I also left them out of my PR for now; also didn't test anything yet

[2017-07-11 14:50] cead22 commented on #111
The original PR included 2 changes: retryAfter and the schema change and when we deployed them we saw issues (commands being queued but not dequeued and processed) and we decided to split the two changes and deploy them separately.

The schema change is already deployed and now we want to deploy retryAfter to see if it causes issues

[code]

[2017-07-11 15:35] fnwbr commented on #111
Ah, I didn't see that `retryAfter` is still in the schema for when creating a completely new `jobs` table / I didn't notice that it wasn't removed from there; so we're good 👍

[2017-07-29 10:33] BigJoe01 opened #251 "License question"
Hi,
Have any plan to change license to developer friendly MIT or BSD?

[2017-07-31 01:11] quinthar commented on #251
Heh, them's are fighting words!  One could argue that LGPL *is* the most
developer friendly... but I understand there are a lot of opinions on
this.  Regardless we'll definitely take it under consideration, but I hope
this doesn't stop you from using Bedrock in the meantime!

On Sat, Jul 29, 2017 at 3:33 AM, Joe Oszlanczi <notifications@github.com>
wrote:

[2017-08-08 22:20] Crazee opened #256 "The chickens and the eggs"
So I was trying to set up a cluster that could “grow” over time — didn’t know all the IP addresses in advance so would start 1 node, then the second would contact the 1st, and the third would contact the 1st and 2nd, etc.

Well, **bedrock** didn’t like that at all: "Incoming connection failed from … (unauthenticated node) …”.  Seems to only want a static list of nodes known at the beginning of tim

[2017-08-08 23:50] quinthar commented on #256
Ah, this is not supported for a reason: each node needs to know how many
other nodes are in the cluster in order to know when half of the cluster is
connected for quorum purposes.  If you allow dynamic node additions, it
opens up the possibility of the cluster "forking" into two halves that each
think they have more than half (and thus, each thinking it has quorum).
This is the "split brain" scena

[2017-08-09 02:00] Crazee commented on #256
I was trying to test a couple of use cases:

1.  Start with a cluster of 3 nodes; run for some time;  grow the cluster to 5 nodes in two more locations.

2. Have a cluster of 3 nodes.  Take one down and move it to a different datacenter/provider with a different IP address.

Can this be done with no downtime?

[2017-08-09 02:05] quinthar commented on #256
Hmmm I don't think we've ever tried that.  I imagine I could be done with
enough care and restarts, but it's not something we've designed for.  We
run with 6 nodes and just upgrade in place as needed, so we haven't really
needed zero-downtime cluster reconfiguration, but it's an interesting
idea!  Are you solving some specific problem or just sorta kicking the
tires?

On Aug 8, 2017 7:00 PM, "Guy

[2017-08-09 20:02] Crazee commented on #256
Trying to figure out the "suitability" of Bedrock to what we do in our application -- so, "kicking the tires" would be about right.  We run bits in datacenters around the world and may be using Kubernetes to orchestrate things, and it likes to pick bits up and move them around.  Although many bits move from one place to another (say when one provider is under DDOS attack) the database is stuck in

[2017-08-09 20:48] quinthar commented on #256
Hm, well Bedrock is very explicitly designed for a WAN-replicated
environment across different datacenters, so that sounds like it could be
good.  However, it's not really designed to be moved around easily.

In our experience, it works best to just configure it to work in as many
datacenters as you have, and then balance all traffic equally across them
all (or use anycast to route users to the ne

[2017-08-21 19:17] tylerkaraszewski commented on #128
Re-visiting this, I'd like to remove the feature. We're not relying on it for anything now, and it requires big changes to make it work (bedrockServer would need to notify plugins when it receives new commands, etc), which is a waste of effort if we don't need it.

I propose that instead, whatever's calling this just receives a message that there are currently no matching jobs, and it can try agai

[2017-08-21 21:33] Crazee opened #267 "3/4"
I've noticed that Bedrock sometimes thinks there are 4 peers though I only have 3 copies running.  From the logs it looks like one node is listed twice, under both its name and IP address, and others are griping about the conflict.

[code]
All nodes are started with an alpha-numeric **-nodeName** and with only IP addresses in the **-peerList**.
xx

[2017-08-24 00:25] quinthar commented on #128
Hm, I disagree entirely with this.  This is a critical feature of
Bedrock::Jobs to enable BWM to get instant notification of jobs.  Granted,
we're running in an environment where there are always jobs, but that's
also because we're consistently under-provisioned from a hardware
perspective.  When we move to the new hardware *and* get AIMD working, then
we should be frequently/usually in a state wi

[2017-08-24 17:35] iwiznia commented on #128
also because we're consistently under-provisioned from a hardware
perspective

I don't think this is true, this happens a lot even now... Having said that, if the effort to fix it is big, I think we can still punt this. Given that we have several different servers processing jobs, means in practice there's _probably_ a very short span between when a job is picked up and when it's processed. As a f

[2017-08-25 01:31] quinthar commented on #128
Ug, I just hate the idea that we're committing ourselves to waiting up to 60s to process each job.  I understand we have bigger problems to fix, and right now we're using jobs in a way where a minute delay isn't a big deal.

But for example, that's up to an extra minute per SmartScan -- in fact, multiple times because the first job creates more jobs (so you pay the delay cost at least twice per re

[2017-08-25 13:31] iwiznia commented on #128
Not that it matters, but are you sure this worked before? I thought it was broken since the beginning...

Also, I think that the possibility of all servers running this condition at the same time is low, so in reality I doubt that we wait one minute, since when one server encounters this (and waits a minute) any of the other servers can take the job.

So, yes I agree it's not ideal, but I still do

[2017-08-25 18:59] quinthar commented on #128
It absolutely worked originally, but wasn't ported over to the new
multi-write framework.

On Fri, Aug 25, 2017 at 6:31 AM, Ionatan Wiznia <notifications@github.com>
wrote:

[2017-08-25 20:25] tylerkaraszewski commented on #128
We can mitigate this by changing the `60`s in the following code to `5`s, right?

[code]

So when there are no jobs (i.e., no outstanding load), we make up to 11 extra requests to bedrock per minute, which it can easily handle.

We totally *can* make this work, I'm just not sure about the return on investment with is.

[2017-08-28 10:46] iwiznia commented on #128
Well, if we don't want to fix this now, then I say we remove the timeout altogether from the `getJob` call, since we know that it runs the query and if there are no results, it will just sleep, same as the PHP code does.

[2017-09-05 06:25] quinthar commented on #128
Before coming up with hacks, how hard is it to actually just retain the
original solution?  It's not a particularly complex thing.  It consists of:

1) If Bedrock::Jobs::GetJob can't find a job, it marks the request as
"Held" based on the pattern it's trying to match, then puts it back on the
queue
2) The sync thread ignores any "held" commands, skipping over them in the
queue
3) Bedrock::Jobs::Cr

[2017-09-05 10:08] iwiznia commented on #128
One thing to note is that a while ago we allowed ourselves to read/write to the jobs table directly (by using the DB plugin, not the jobs plugin). So if someone updates the job in that way, the queue of held commands will not be cleared. This is probably still fine as we don't update the jobs via DB that often, but wanted to point it out anyway.

[2017-09-05 16:21] tylerkaraszewski commented on #128
We have to fix this first before this can work:
https://github.com/Expensify/Bedrock/blob/master/BedrockServer.cpp#L977

Currently, disconnecting doesn't do anything with the command queue, the command just gets processed and a warning is issued when the socket to respond to is gone. This is an unavoidable case (it will always be possible the the socket disconnects after processing is complete, bu

[2017-09-06 19:32] mea36 commented on #111
Can someone clarify this point

Why can we update the data for a `RUNNING` job but not a `RUNQUEUED` job?

cc @pecanoro

[2017-09-06 23:40] quinthar commented on #128
Hm, didn't it handle this correctly before?  I believe it previously detected failed client connections, sent an `CANCEL_ESCALATE` (or something like that), and cancelled the request.  Does it not do that anymore?  If so, we should add that back in.

As for the plan overall, I'm still not sure how this is better or simpler than the original plan -- which was actually very simple.  I think the conc

[2017-09-07 00:29] quinthar commented on #111
I can't remember why I wrote that.  I can't think of a good explanation for that, so lacking a reason I suggest we ignore that comment.

[2017-09-07 10:41] iwiznia commented on #128
I agree it's a powerful feature we could build upon, but given that we don't have a compelling use case right now, does it make sense to build this now?

[2017-09-14 08:50] iwiznia commented on #111
Reopening as this had a performance regression and had to be rolled back.

[2017-10-27 17:38] styfle opened #314 "Docs need navigation bar"
Typically there is some sort of hierarchy or navigation bar on a docs website.

For example [Bootstrap](https://getbootstrap.com/docs/4.0/getting-started/theming/) has a navbar on the left hand side to see the different sections of the docs.

I think that Bedrock should have something similar. For example, I finally found [vs_mysql](http://bedrockdb.com/vs_mysql.html) but it doesn't have any navig

[2017-11-03 21:29] #110 closed

[2017-11-04 08:12] stephancb opened #320 "Does not compile on Fedora 26"
Bedrock does not compile on Fedora 26 (and there is no compiled rpm). The problem seems to be that Fedora 26 ships only with g++-7 /c++-17, and the Bedrock code seems not compatible with this new standard.

[2017-11-21 21:58] ebdavison opened #327 "Cannot start bedrock server"
I am running on Centos 7 so had to compile from source.  Having no compilation errors, I am trying to start the bedrock server.  I tried this both as a user and as root and am getting the same error:

[code]

Any pointers or help?

[2017-11-22 06:58] quinthar commented on #327
Hm, well the log suggests that the error is "Address already in use",
meaning that something else could be listening on localhost:8888.  Can you
confirm no other instance of Bedrock is running, or that nothing else is
listening on port 8888?  You could try `netstat -a | grep 8888` to see if
it turns anything up.

On Tue, Nov 21, 2017 at 1:58 PM, ebdavison <notifications@github.com> wrote:

[2017-11-22 22:28] ebdavison commented on #327
Sure enough, something else is running on that port.  I was able to start with 'bedrock -serverHost localhost:8899'.
Thanks.

[2017-11-22 22:28] #327 closed

[2018-01-02 23:26] ebdavison opened #336 "cannot get cluster to start, unauthenticated node(s)"
I have a 2-node cluster I am trying to get up and running and I am seeing errors in the logs.  The nodes are definitely talking together but will not start.  The logs refer to unauthenticated peers.  I see nothing in the docs about this.

I added OTHERNODES line to the /etc/init.d/bedrock startup script to point to each other and altered the PRIORITY, changed the port to 18888 of the main process

[2018-01-02 23:32] quinthar commented on #336
Hm, did you start two separate bedrock processes, one for each node?  I only see one process in the log, and you've only given a single command line.  Each node is a different process, started independently (typically on different servers, but commonly on the same server for testing).

[2018-01-03 15:08] ebdavison commented on #336
Yes, these are on different machines with IP connectivity between them.

Node 1:

[code]

Node 2:

[code]

[2018-01-03 15:12] ebdavison commented on #336
Another log entry that seems relevant that I missed in the original posting:

[code]

[2018-01-03 19:32] quinthar commented on #336
Ah, can you try replacing the IP addresses in the `-peerList` with the corresponding DNS names in `/etc/hosts`, which correspond to the corresponding `-nodeName`?  Basically, `-peerList` is formatted as a comma separated list of `nodeName:port` tuples, with the `nodeName` portion being both the name that the node advertises and a DNS name that resolves to that node's IP.  You can see the code that

[2018-01-03 19:40] quinthar opened #338 "Explore hosted log storage alternatives to self-hosting ElasticSearch"
Problem:
====
We pay $32K/mo (which might go to as low as $20K if we reserve instances) for ElasticSearch -- on top of a bunch of engineering time to maintain it.  Scaling that to 10x will be expensive and difficult, so let's just double check that we're on the right path.

Solution:
====
Price out a few cloud hosted log services, such as Splunk (on the high end) and ?? (on the low end).

Cc: @Exp

[2018-01-03 19:47] coleaeason commented on #338
Going to close this, this is in the wrong repo.

[2018-01-03 19:47] #338 closed

[2018-01-03 20:41] ebdavison commented on #336
Well, that is not quite right.  I actually used the IP address directly in the `-peerList` as opposed to the nodename (resolving to DNS).  I will change that and see if that fixes it for me and will report back.

On a side note, at least for me on Ubuntu 14.04, there is no config file in `/etc` so I had to manually "hack" the `/etc/init.d/bedrock` startup script to add nodes, change the port, etc.

[2018-01-03 20:46] ebdavison commented on #336
Looks like changing the `-peerList` from IP to DNS name fixed the issue:

[code]
I suppose that means some work on the documention is in order to make it clear that the `-peerList` MUST be a DNS name and not an IP address. (In my case, these are local test machines with no real DNS, so they are both added to the `/etc/hosts` file on each side and that seems to work.)

[2018-01-03 21:22] coleaeason commented on #336
Yeah, the documentation may need to be a little more clear. They don't necessarily need to be DNS names, the name in `-peerList` just needs to match the value of `-nodeName`.

For example I setup a cluster with one node with `-nodeName 127.0.0.1` and then the other two nodes had a `-peerList` like `node1:8887,127.0.0.1:8886` if that makes sense.

[2018-01-03 23:06] ebdavison commented on #336
I see; that makes sense.  Docs could state this more clearly, for sure.

So, to summarize: the node that is trying to connect will announce itself as `-nodename xxx` and if `xxx` matches in `-peerList` then we are good to go.  Got it.  In my case, each `-nodename` was a name, not IP but if I had made each one be their IP rather than nodename, it would have worked to put the IP in `-peerList`.

[2018-01-18 22:36] xcombelle opened #350 "any plan to becomr package manager for debian"
This product looks fantastic. I would love it become a standard part of Debian whivh is my distrinution of choice Any plan to make it easier for installing om it and their derivatives?

[2018-01-19 06:39] quinthar commented on #350
We keep talking about doing this, but just haven't gotten around to it.  We
run our own private apt repo for internal use, but we keep meaning to push
our latest builds up to the public apt repo -- it just hasn't gotten to the
top of the priority queue.  Thankfully, however, it's pretty easy to build
and I hope you'll give that a shot in the meantime.  Thanks!

On Thu, Jan 18, 2018 at 2:36 PM, Xav

[2018-01-19 06:39] #350 closed

[2018-02-07 07:01] jgmdev commented on #320
I fixed the issues related to gcc7 on the archlinux [PKGBUILD](https://aur.archlinux.org/packages/bedrock/) by patching the sources as follows:
[code]

[2018-02-09 16:27] jgmdev commented on #320
I just noticed this one:
[code]
Is only needed on arm (at leat armv7h in my case), in x64 it should compile without it

[2018-03-20 19:28] gsacre opened #403 "bedrock : Depends: libstdc++6 (> 7.1) but 5.4.0-6ubuntu1~16.04.9 is to be installed"
Hi,

I'm trying to install bedrock on an Ubuntu 16.04 image on Google Computing Engine.
Here is the error I'm getting:

[code]

It's a bare image, nothing has been installed on it except docker.

I have successfully installed bedrock (and ran it) on a VM for another client where I installed Ubuntu 16.04 from the official ISO in January.

Am I missing something?

[2018-03-20 19:36] swhi3635 commented on #403
Hi there,
Bedrock relies on a version of GLIBCXX that is not included the latest (as of 2018-03-20) version of `libstdc++6` included in the default apt repositories for Ubuntu 14.04 and 16.04.  You will need to add a repository that includes `libstdc++6 > 7.1`.  Here is the one that we use: https://launchpad.net/~ubuntu-toolchain-r/+archive/ubuntu/test

Instructions to fix:
1. `sudo add-apt-reposi

[2018-03-20 19:37] #403 closed

[2018-03-20 20:42] gsacre commented on #403
I confirm that the fix works!

[2018-06-02 02:55] apavlo opened #468 "Bedrock Logo?"
I added an entry for Bedrock to my encyclopedia of databases:

https://dbdb.io/db/bedrock

Is there a logo that I can use for the article?

Thanks!

-- Andy

[2018-06-19 14:23] vlasky opened #475 "Encrypted Communication Between Nodes"
Hello,

Unless I am mistaken, It doesn't seem that communication between nodes is encrypted with TLS/SSL.

Are there any plans to introduce it? This really is mandatory for an enterprise app operating over a WAN.

[2018-06-20 22:53] jungle-boogie commented on #475
Perhaps running a VPN between your two nodes would be better than TLS code being added to this project.

Check out https://www.wireguard.com/quickstart

[2018-06-20 23:07] quinthar commented on #475
@jungle-boogie is correct -- we view it as a best practice to run over a VPN, rather than TLS encrypted over the internet.

[2018-06-20 23:07] #475 closed

[2018-08-15 06:08] wmertens commented on #256
So basically, if the number of peers is configured beforehand, and you're allowed to dynamically remove and add peers up to that number, and you never go below `n/2`, it is fine?

[2018-08-15 06:27] wmertens commented on #320
Should these patches not be added @quinthar?

[2018-08-15 06:34] quinthar commented on #320
Ah, sounds great!  Can you or @jgmdev submit a PR?  Thanks!

[2018-08-15 06:43] wmertens commented on #320
@jgmdev, do you want to make the PR? If not, or if I don't hear from you by
next week, I'll do it.

On Wed, Aug 15, 2018 at 8:34 AM David Barrett <notifications@github.com>
wrote:

[2018-08-15 06:51] wmertens commented on #468
It seems that the logo is simply the word "Bedrock" in a 400-weight Helvetica Neue…

[2018-08-15 06:53] quinthar commented on #468
Yes sorry about that -- there isn't really any fancy logo, just the word.  Thanks for asking!

[2018-08-15 06:53] #468 closed

[2018-08-15 06:53] quinthar commented on #336
Sorry for the delay.  @ebdavison, can you submit a PR to fix the docs to be more clear?  Thanks!

[2018-08-15 06:55] quinthar commented on #314
Yep very fair point.  The website was whipped up pretty quick to see if there was enough interest to invest into making a better one -- this is a tool we very actively use internally and we want to open it up to the world, but at the same time we don't really stand to gain much by the outside world using it so we haven't prioritized making the site look great.  Thanks for enduring its current stat

[2018-08-15 06:55] #314 closed

[2018-08-15 06:57] quinthar commented on #267
I'm so sorry for not responding to this issue; I'm not sure how I missed it.  Is it possible that you've configured some nodes to try to connect via IP address, and others using the DNS name?  I'd suggest just using the DNS name everywhere (and to be simple, configure the `/etc/hosts` file everywhere to make the names resolve correctly), this way everybody is using the same name everywhere.  Sorry

[2018-08-15 06:57] #267 closed

[2018-08-15 06:58] quinthar commented on #256
Lmk if you need anything else on this, otherwise closing it!

[2018-08-15 06:58] #256 closed

[2018-08-15 06:58] #251 closed

[2018-08-15 07:01] quinthar commented on #224
Fair point.  I'd suggest the simplest example is the [Bedrock::DB plugin](https://github.com/Expensify/Bedrock/blob/master/plugins/DB.cpp), which is really just a single .h/cpp file pair.  Don't get much more simple than that!

As for compiling it, it does require creating a shared library, and I'm not sure if we have any good examples here.  @tylerkaraszewski can you provide some guidance here?

[2018-08-15 07:02] quinthar commented on #218
@tylerkaraszewski is this still a limitation of CONCURRENT transactions?

[2018-08-15 07:04] quinthar commented on #102
Whoa, I'd never even heard of `SIGWINCH` before, and I don't think we've really experienced it in practice.  The current behavior has worked well for us, but definitely willing to consider alternatives.  PR's welcome!

[2018-08-15 07:04] #102 closed

[2018-08-15 07:06] quinthar commented on #101
Oh that's interesting, can you help me understand how that normally works in a containerized environment?  In practice we use syslog for *everything*, and it works great.  Definitely curious to learn more about this!

[2018-08-15 07:08] quinthar commented on #100
Ah, that's an interesting approach.  I bet you could do that by just defining the environment variables and then referencing them on the command line.  That said, I actually prefer command-line configuration due to it showing all the parameters clearly in the process, which we've found *invaluable* for debugging.

[2018-08-15 07:08] #100 closed

[2018-08-15 07:09] quinthar commented on #99
I like the idea of failing if unrecognized flags are provided.  Would you be open to submitting a PR for this?

[2018-08-15 07:09] quinthar commented on #98
Whoa, this is interesting.  @tylerkaraszewski any thoughts on this?

[2018-08-15 07:10] #71 closed

[2018-08-15 14:20] styfle commented on #314
Hi David,

I am interested in the concept! 😄

But without proper documentation or a roadmap, I don't think Bedrock is something I can convince my manager to adopt.

[2018-08-15 16:47] tylerkaraszewski commented on #98
@brianredbeard is probably correct, I'm not sure about the intricacies of debian/ubuntu package management. I don't have any particular thoughts on it. It would probably be better to do it the standard way.

[2018-08-15 17:40] tylerkaraszewski commented on #218
Unless sqlite changed this without notifying us, then yes, it's still a limitation. I assume that's the case as I don't see them making this change without being asked specifically for it.

[2018-08-15 17:48] treps commented on #218
Hm, so the consequence is right now, Bedrock::DB can only change schema
manually using the command-line?  That... sucks.  Is there a way to
determine that a query has schema changes (eg, when we get this error) and
then re-execute the command with a non-concurrent transaction?  I'm not
sure how concurrent and non-concurrent transactions play together.

On Wed, Aug 15, 2018 at 10:41 AM Tyler Karasz

[2018-08-15 17:53] tylerkaraszewski commented on #218
What do we need this for?

[2018-08-15 17:55] treps commented on #218
Well we don't need it internally as schema changes are a "big deal" at our
scale and need to be done manually with a bunch of planning.  But for a
smaller deployment (ie, by the community), being able to do schema changes
just like any other SQL would be cool.  I'm mostly curious how difficult it
would be to do, not saying we need to do it.  What we might do is update
this issue with hints for how

[2018-08-15 18:06] tylerkaraszewski commented on #218
The idea behind concurrent commits is that they're automatically retryable.

If these two queries run simultaneously:

[code]

and

[code]

If they happen at the same time they conflict, and the second one is automatically retried and can succeed. At the end of the whole process, the value for `column` is either 1 or 2 for the row with the key `A`, but both queries succeed.

If you allow schema ch

[2018-08-15 18:17] onli opened #488 "No rule to make target '.build/libstuff/STCPNode.d'"
I'm tying to compile bedrock on my system, but make fails. I first ran into #320 and thought to have worked around that with the sed-commands from the pkgbuild. But now I get this error:

[code]

Full build log [here](https://gist.github.com/onli/4c70c4d3ce2f9f2526b37d00f9716622). I assume that last message is just a symptom, the real problem is likely above:

[code]
and the other errors like this

[2018-08-15 18:41] apavlo commented on #468
Noted. Added logo from website: https://dbdb.io/db/bedrock

Thanks!

[2018-08-15 18:57] quinthar commented on #314
Ah, understood.  In the meantime please post any questions here, or perhaps in our Gitter chat room, and happy to help! https://gitter.im/Expensify-Bedrock/Lobby

[2018-08-16 10:43] onli opened #489 "Abort after realpath issue"
I want to help by documenting our gitter conversion in a proper issue.

I first had issues compiling bedrock that I documented in #488 and solved with the hints from #320. Btu after a seemingly successful compilation I get an abort, even when just running `./bedrock -clean`. [This is the log](https://gist.github.com/onli/ef62574f10155c431f24fe8b9cf42c6f), it seems to start failing at realpath:

[c

[2018-09-12 18:27] quinthar commented on #489
Actually this seems to deal with it not handling the case of no existing file.  Running `touch bedrock.db` is a temporary work around, but really the `-clean` flag is just broken (because it can't start without an existing file).  The solution is to make `-clean` create a file from scratch if one doesn't already exist.

[2018-09-24 11:47] zeeshanali33096 opened #506 "Cannot build on the raspberry pi - no rule to make target .build/BedrockServer.d"
Hello,

I am trying to build bedrock db on the raspberry pi 2.  When I try to run make, I get an error "no rule to make .build/BedrockServer.d required by .build/BedrockServer.o

~/Bedrock $ make
git submodule init
Submodule 'mbedtls' (https://github.com/ARMmbed/mbedtls.git) registered for path 'mbedtls'
git submodule update
Cloning into '/home/pi/Bedrock/mbedtls'...
Submodule path 'mbedtls': chec

[2018-09-24 12:40] tylerkaraszewski commented on #506
Hi @zeeshanali33096, what compiler are you trying to build with?

[2018-09-24 15:43] zeeshanali33096 commented on #506
I am building it with gcc 6.3.0 on Raspbian stretch.

[2018-09-24 15:45] zeeshanali33096 commented on #506
Hello @tylerkaraszewski , I am trying to build with gcc 6.3.0 on Raspbian stretch.

[2018-09-25 07:49] tylerkaraszewski commented on #506
@zeeshanali33096 can you try changing that call to read `std::max`. I don't know if there's some sort of VM or cross-compiler setup I can use to test for Raspberry Pi. Is there a quick start guide somewhere to doing this? We haven't tested Bedrock on any ARM-based platform.

[2018-09-25 08:32] tylerkaraszewski commented on #506
Ah, @zeeshanali33096, my previous comment is wrong, I know what it is. `max(int64_t&, long int)'` `int64_t` and `long` are the same length on x86-64, but I assume a `long` is 32 bits on ARM. Adding a cast to `int64_t` to the second param to `max` in that function call should fix that. It may happen in more than one place. If you'd like to make the change I can review and merge it, but without a ra

[2018-09-25 15:18] zeeshanali33096 commented on #506
Hey @tylerkaraszewski , casting the second parameter to long int gives me this error,
g++-6 -g -DSVERSION="\"44dda038ab29f33406346854390fa90bd466f483\"" -Wall -O0 -std=gnu++14 -I/home/pi/Bedrock -I/home/pi/Bedrock/mbedtls/include -Werror -Wno-unused-result -MMD -MF .build/BedrockServer.d -include libstuff/libstuff.h -o .build/BedrockServer.o -c BedrockServer.cpp
BedrockServer.cpp: In static member

[2018-09-26 07:52] tylerkaraszewski commented on #506
[code]

The issue is that `std::max` expects both parameters to be the exact same type, and the second parameter there seems to be an unsigned integer. If you cast it to the exact same type as the first parameter it should compile.

[2018-09-26 13:01] quinthar commented on #506
https://github.com/Expensify/Bedrock/pull/508 should fix the the `no matching function for call to 'max(int64_t&, uint64_t)'` errors

[2018-09-26 13:14] quinthar opened #509 "Won't compile on MacOSX"
Problem:
====
Ideally you could use the instructions outlined here: https://github.com/Expensify/Bedrock/blob/dbarrett_osxCompile/docs/index.md

[code]

However it breaks in at least two ways:

* `make` doesn't clone the subrepo for some reason
* `make` fails with PCRE:
[code]

Solution:
====
To fix:
1. Check out a fresh copy of `dbarrett_osxCompile`
2. Follow the instructions
3. If something brea

[2018-09-26 13:58] quinthar commented on #509
FYI, anyone who wants to take this issue, there's some money in it for you! https://www.upwork.com/jobs/~01e7ad7e026a20a5e1

[2018-09-26 14:03] flodnv commented on #509
@quinthar to fix the PCRE thing, in the past `brew install pcre` fixed it. Is that still the case or not?

[2018-09-26 15:41] treps commented on #509
no that did not fix it. It is installed, and all of the headers and such
compile fine, but for some reason it fails in the linking stage.

On Wed, Sep 26, 2018, 4:03 PM flodnv <notifications@github.com> wrote:

[2018-09-27 16:08] topilski commented on #509
I can resolve this issue, my suggestion is move your build system into CMake after that your life will be more easy.

[2018-09-28 10:14] treps commented on #509
Hm, I'd prefer to stick with classic make, as it works everywhere else and
I don't think is the constraint in this particular issue.  I'd prefer not
to change the while build system just to solve this one issue.

On Thu, Sep 27, 2018 at 6:08 PM Alexandr Topilski <notifications@github.com>
wrote:

[2018-09-28 11:10] topilski commented on #509
It will be solve a lot of issues in future.

[2018-09-30 17:03] zeeshanali33096 commented on #506
hey, I was able to compile Bedrock db. Now whenever I run it, I get  a

[code]
I have attached the compile logs and the stack trace.

Thanks
[strace.txt](https://github.com/Expensify/Bedrock/files/2431767/strace.txt)

[rpi-bedrockC.txt](https://github.com/Expensify/Bedrock/files/2431760/rpi-bedrockC.txt)

[2018-10-01 20:15] #509 closed

[2018-10-02 10:18] zeeshanali33096 commented on #506
Yeah that works,

I was running ./bedrock -clean &
that clears out the bedrock.db file.

Thanks Guys!

[2018-10-25 12:12] #506 closed

[2018-11-20 06:35] jgmdev commented on #27
For reference I wrote the following files for the archlinux package which may serve as some kind of example:

/etc/bedrock.conf
https://aur.archlinux.org/cgit/aur.git/tree/bedrock.conf?h=bedrock

/usr/lib/systemd/system/bedrock.service
https://aur.archlinux.org/cgit/aur.git/tree/bedrock.service?h=bedrock

[2019-03-04 13:37] #111 closed

[2019-03-04 13:50] #128 closed

[2019-03-04 13:50] #130 closed

[2019-03-29 22:10] jerrywardlow commented on #489
https://github.com/Expensify/Bedrock/pull/620

[2019-04-04 07:14] jgmdev opened #622 "CREATE|DROP database <dbname> and use <dbname>"
Searched but didn't found nothing about these so I'm writing to ask if the idea of sqlite databases sharding by implementing create|drop commands isn't that crazy or hard to implement.

The idea is to be able write/read from different database files beside the default bedrock.db which is already used to store jobs,cache, etc... This way an application can be further optimized by been able to write

[2019-04-15 00:10] quinthar commented on #622
Hi!  The main issue we haven't taken this design is because we use the SQLite "WAL mode", and transactions across ATTACHed databases aren't atomic.  It's a bit of a bummer, but in practice there isn't much advantage to having multiple database files (at least, not that we've experienced) so we just keep everything in a single database.  Thanks for the detailed suggestion, and I'm sorry that we can

[2019-04-15 00:10] #622 closed

[2019-05-16 17:06] wyoung opened #634 "Change randStr() to take size_t"
The `uint` data type used for this function's parameter is not portable. I believe `size_t` expresses the desired idea, portably. If not, then use `unsigned int`.

[2019-05-16 17:18] wyoung opened #635 "realpath(3) not visible on Cygwin with -std=c++11; change to -std=gnu++14"
On Cygwin, this library function is declared in `stdlib.h`, but it's wrapped in an ifdef that is not defined when building in standards mode. Changing to GNU-compatible mode solves this.

This affects `sqlitecluster/SQLite.cpp`.

[2019-05-16 17:30] wyoung opened #636 "SException::_depth not set if generateCallstack ctor parameter = false"
Either the `if (generateCallstack)` block needs an `else` to set this data member to 0, or the initializer list needs to set it to 0, later overridden if this parameter is true.

[2019-05-16 17:36] wyoung opened #637 "Need -D_XOPEN_SOURCE=500 to find strptime(3) on Cygwin"
This affects `test/tests/jobs/FinishJobTest.cpp` and such.

[2019-05-16 17:49] wyoung commented on #637
It needs to be at least 600, actually, else `getaddrinfo()` and such can't be found. (Just now doing my first clean rebuild to test all this.)

[2019-05-16 17:58] wyoung opened #638 "u_long data type used for SO_REUSEADDR nonportable"
The use of `u_long` for the `enable` parameter to the `setsockopt(SO_REUSEADDR)` call in `libstuff` causes a compiler error under Cygwin.

[`socket(7)` on Linux](https://linux.die.net/man/7/socket) says this should be an `int`, which is also portable to Cygwin. This is also what's given in Stevens. ("Unix Network Programming" vol.1, 3rd ed., p.193.)

[2019-05-16 18:09] wyoung opened #639 "-D_DEFAULT_SOURCE needed to make mkstemps() visible in stdlib.h on Cygwin"
This isn't made visible by my prior suggestions. (#635 and #637.)

[2019-05-16 18:17] wyoung opened #640 "Template specializations in BedrockCommand.cpp need to be inline"
The specializations for `SSynchronizedQueue<T>::push()` and `pop()` need to be declared inline in `BedrockCommand.cpp` to [avoid violation of the one definition rule](https://stackoverflow.com/a/4445686). This problem was flagged by GCC 7.4.0 on Cygwin 3.0.7, but it's probably not Cygwin-specific.

See [attached trivial patch](https://github.com/Expensify/Bedrock/files/3188434/bctempspec.patch.zip

[2019-05-16 18:34] wyoung opened #641 "Linkage workaround for macOS in test/clustertest/testplugin applies to Cygwin as well"
I'm not exactly sure how you want to fix this. This works for me:

[code]

However, since I've never seen any system but Linux chase linkage implicitly, you might want to flip the sense of the test around, and just check for "not Linux." It'd be simpler, though it might be an over-reach.

[2019-05-16 19:31] wyoung opened #642 "Make backtrace feature optional"
The `backtrace(3)` family of library functions don't exist under Cygwin. They are, in fact, GNU-specific, so they probably don't exist on several other platforms, either.

There are a bunch of ways to deal with this. I've [attached](https://github.com/Expensify/Bedrock/files/3188706/no-backtrace.patch.zip) a fairly brute-force removal of this on Cygwin through ifdefs, but perhaps something like wh

[2019-05-20 18:24] jicman opened #644 "libstuff/libstuff.h:7:10: fatal error: execinfo.h: No such file or directory"
Greetings.

Trying to build BedrockDB within the cygwin environment. I am getting this error,

[clip]
  CC    x509/cert_req.c
  CC    x509/cert_write.c
  CC    x509/req_app.c
make[2]: Leaving directory '/home/e608313/builds/Bedrock/mbedtls/programs'
make[1]: Leaving directory '/home/e608313/builds/Bedrock/mbedtls'
g++ -g -std=c++14 -fpic -O2 -Wall -Werror -Wformat-security -DGIT_REVISION=f6d58b9 -

[2019-05-20 18:28] jicman opened #645 "libstuff/libstuff.h:485:70: error: ‘strcasecmp’ was not declared in this scope"

[2019-05-20 18:36] jicman opened #646 "libstuff/libstuff.h:485:70: error: ‘strcasecmp’ was not declared in this scope"
Greetings.

I am trying to build BedrockDB in the cygwin environment.  After commenting the,

 #include <execinfo.h> // for backtrace

line in libstuff/libstuff.h, the compilation continued, but then I hit this wall:

g++ -g -std=c++14 -fpic -O2 -Wall -Werror -Wformat-security -DGIT_REVISION=f6d58b9 -I/home/e608313/builds/Bedrock -I/home/e608313/builds/Bedrock/mbedtls/include -MMD -MF libstuff/lib

[2019-05-20 18:37] jicman commented on #645
This is a double entry.  Apologies. Closing this instance.

josé

[2019-05-20 18:37] #645 closed

[2019-05-20 18:37] jicman commented on #645
duplicate.

[2019-05-22 15:17] jicman commented on #644
A simple,

+
 +#ifdef HAVE_EXECINFO_H
 #include <execinfo.h>
 +#endif
 +

should work for people building this outside Linux.  Thanks.

josé

[2019-06-22 15:10] paucus commented on #506
So bedrock runs on a raspberry pi? can you post what was needed to compile it? Thanks

[2019-06-22 17:58] zeeshanali33096 commented on #506
I tried cloning the repo, like 6-7 months ago and it just compiled.

On Saturday, June 22, 2019, Marcelo Ruiz Camauër <notifications@github.com>
wrote:

[2019-06-23 18:31] paucus commented on #506
Thanks!

[2019-06-28 23:46] stefanos82 opened #657 "Question: Where to report an issue for the Bedrock website's behavior?"
Hello everyone.

I wanted to ask: is this the expected behavior you originally had in mind for the documentation?

Below you can see the index page with a standard title message "Bedrock by Expensify".

![image](https://user-images.githubusercontent.com/1777466/60376328-dda44880-9a16-11e9-8a5b-084b5e2694f4.png)

and in this picture the title remains the same; actually every single page displays th

[2019-06-29 23:10] BJWes commented on #657
Hi there, I'm sure there is some way to do it, thanks for the suggestion.
Can you submit a PR to fix it?

On Fri, Jun 28, 2019 at 4:46 PM Στέφανος <notifications@github.com> wrote:

[2019-06-29 23:21] stefanos82 commented on #657
Inside `docs` I can see the markdown files, but I have never done something like this, as title is part of the default layout.

Let me see what I can do.

[2019-07-09 16:51] JensRantil opened #658 "Prebuilt artifacts"
Hey, I was about to give Bedrock a spin ~6 months ago and ran into issues building it on MacOSX, then gave up concluding it was too much work. The issues were unclear and long forgotten by now, but just wanted to create this issue as a feature request to have prebuilt binaries/artifacts. I think it would benefit the project by reducing the friction significantly to start using Bedrock, both for de

[2019-07-09 17:57] quinthar commented on #658
Yep, I totally agree, but this is much easier said than done.  It's a good suggestion, eager for your PRs!

[2019-08-24 14:15] JensRantil commented on #658
A good start is probably to focus on creating an official Docker image. It would be isolated and recreatable and avoid issues with dynamic libs etc. Given that Travis CI build is working and there is a script that could be the basis for starting this work.

[2019-09-14 10:40] mamift commented on #646
Hi, I think I found a solution:

In the `libstuff.h:` file, replace `#include <string>` with `#include <strings.h>`.

That fixed it for me. Found it from https://stackoverflow.com/questions/7248509/strcasecmp-was-not-declared-in-this-scope

[2019-09-14 10:42] quinthar commented on #646
Oh!  That's great!  Can you please create a PR and submit it for us to test?  Thanks!

[2019-09-14 10:58] mamift commented on #646
I'll see what I can do. It seems fixing that one error just surfaced a bunch of others - I'll see how to go about fixing them as they seem to be specific to cygwin.

[2020-02-27 19:48] amunhoz opened #715 "Any kind o auth for mysql client?"
Hi there,

First, the idea of bedrock and simplicity are awesome.
However, i missed a kind of authentication for mysql interface.
Is there any kind of security for connections?

[2020-04-23 08:04] phpstatic opened #770 "Question: about the design choice over raft and others."
First of all I must say great work!!!

[quinthar](https://news.ycombinator.com/item?id=12741772)  write this at Oct 19, 2016:

My question is:
* Is Raft able to do this job as fast as Paxos?
* Is there any benefit that raft can't provide?
* Is Bedrock still use `Paxos` only for  elect the master？
* I assume Bedrock use [quorum vote](https://en.wikipedia.org/wiki/Quorum_(distributed_computing)) to

[2020-05-14 20:17] dinedal opened #789 "Bedrock doesn't respond to queries"
I hope someone can help me: I just created https://github.com/Expensify/Bedrock/pull/788

The tests pass and it is running, but it doesn't seem to respond no matter what I send on 8888. Any advice?

[code]
All with no response.

Additionally, the mysql client always responds with `ERROR 1045 (28000): Access denied`

[2020-05-19 18:52] coleaeason commented on #789
Hi @dinedal, I'm pretty sure the issue you're having with your queries over netcat is that you are not adding new lines at the end of your query. Bedrock speaks psuedo http, meaning it waits for empty new lines to know that it has received all of the data off of a socket. You should try something like this:

[code]

Note the extra blank new line.

WRT to the mysql client, this seems like a separat

[2020-05-19 18:53] #789 closed

[2020-06-24 03:51] mhamann opened #816 "Question: minimum requirements"
Any idea of the minimum system requirements for running a bedrock instance? Wondering how different the requirements are from SQLite. For instance, could I deploy a cluster with fairly minimal CPU/RAM (e.g. like 0.1 CPU and a few MB of RAM) and then scale it up later if load increases? Or is there a "minimum" like 1GB RAM and a full CPU?

Thanks!

[2020-07-01 22:02] cannikin commented on #218
It's been a couple of years, has there been any updates on this issue?

We're using [Prisma](https://www.prisma.io/docs/reference/tools-and-interfaces/prisma-migrate) and the idea is to track changes to your database schema in code and be able to apply those changes in a known, repeatable manner both in development at deploy time. This same process is also part of [Ruby on Rails](https://guides.ru

[2020-07-02 07:55] janpio opened #818 ""Error querying the database: Unknown authentication plugin `@BhfHt/-4^Z,'.""
When trying to drop in Bedrock into an application that usually uses a MySQL database (using `mysql://root:root@127.0.0.1:3306/bedrock` after creating doing `touch bedrock.db` and `bedrock -fork`), I get the following error message:

`Error querying the database: Unknown authentication plugin @BhfHt/-4^Z,'.`

Does this make sense to anyone and point in a specific direction I should look at?

[2020-07-19 21:58] quinthar commented on #218
Hi!  So sorry for the delay on this.  A fix was just merged into master;
our friends at SQLite have upgraded BEGIN CONCURRENT to allow schema
changes, so now it should work.  Thanks for asking!

-david

On Wed, Jul 1, 2020 at 3:02 PM Rob Cameron <notifications@github.com> wrote:

[2020-07-24 09:43] janpio commented on #218
(Prisma here, which @cannikin mentioned) Saw the new release that probably includes this, but we are unfortunately blocked by another error right now so we can not really test if this now works: https://github.com/Expensify/Bedrock/issues/818

[2020-08-01 09:01] janpio commented on #818
Still exists in current releases and I have no idea how to debug :/

[2020-08-06 00:53] tylerkaraszewski commented on #818
What version of the MySQL client are you using for this? It's entirely possible our plugin is out-of-date, and it also has limited (read: none) of the authentication support in MySQL, as bedrock doesn't use it (though it should fake it and connect anyway).

[2020-08-06 01:00] coleaeason commented on #816
I'm not sure we've ever tested running bedrock on very minimal hardware such as partial CPUs and a few MB of RAM. Bedrock is specifically designed to scale with core count, and that is the way we run it in production. Additionally, there are features that will take advantage of more RAM as well, i.e. you can enable mmap'ing of the entire database assuming you have enough RAM available. There is no

[2020-08-06 01:00] #816 closed

[2020-08-06 12:35] janpio commented on #818
We are using a Rust driver for MySQL (currently mysql-async) here. https://github.com/prisma/quaint/blob/6fafb89c9e814c55ee351eb92e9e7ea19203a17b/Cargo.toml#L86 to be exact, so https://github.com/blackbeam/mysql_async/tree/v0.23.0.

[2020-08-13 00:19] #818 closed

[2020-08-13 00:23] coleaeason commented on #818
I merged in a change that makes Bedrock work with the Rust driver you're using. You can find the details in the attached PR.

I'm not sure when we will do a new release to the apt-repo of the current HEAD, but if you want to keep developing immediately you can check out the master branch in your tests and build the binary yourself in the mean time.

[2020-08-13 16:49] janpio commented on #818
Thanks, I will try to look for new releases so I can just use an existing release.

[2020-08-13 18:17] coleaeason commented on #818
I actually went ahead and sent out a new release this morning too, so this code should be in the newest released version available in the apt repo, `2020.08.13~d2d17eb-16.04`

[2020-08-14 11:33] janpio commented on #818
It is, thanks. I can also reproduce the problem you were seeing and will now try to debug what is going on there.

[2020-08-14 12:18] janpio opened #842 "Publish binaries for Ubuntu 18 and 20"
WSL on Windows only support Ubuntu 18 and 20:

[code]

As `lsb_release -cs` is `bionic`, the available files at https://apt.bedrockdb.com/ubuntu/dists/ can not be used to install Bedrock.

[2020-08-14 12:44] janpio opened #843 "Build instruction for Ubuntu missing cc"
https://bedrockdb.com/#ubuntu-linux

When running those on a Ubuntu 18 via WSL (in WindowS), you get this error:

[code]

Can be fixed with `sudo apt-get install build-essential` per https://help.duo.com/s/article/3603?language=en_US. After that, `make` succeeds.

[2020-08-14 14:29] janpio opened #844 "Custom build (WSL, Ubuntu 18 or 20) can not be started: "Aborted (core dumped)""
Follow up to https://github.com/Expensify/Bedrock/issues/843

[code]

I have no idea what I am doing, using `make` and all - but how can I debug this?

[2020-08-14 19:17] coleaeason commented on #844
Can you please provide the bedrock logs out of `/var/log/syslog` for this crash?

[2020-08-14 19:35] coleaeason commented on #843
Feel free to submit a PR to correct the documentation!

[2020-08-14 19:37] coleaeason commented on #842
You could try running the xenial builds on 18/20. my guess is they will work. The only difference in the .deb packages are the required lib, which had a name change after 14.04.

[2020-08-14 19:53] janpio commented on #844
After figuring out that this is not running by default on WSL and how to enable it with `sudo service rsyslog start` I can indeed to that:

[code]

And with `Failed to open TCP port 'localhost:3306': couldn't bind(errno=13 'Permission denied')` I could also figure out what was going on: I had a MySQL running locally on that port already. Killed it, and Bedrock starts 🚀

[2020-08-14 19:53] #844 closed

[2020-08-14 19:56] janpio commented on #842
Tried that, unfortunately WSL does not like the apt host somehow:

[code]

But I could build manually, so not a big deal.

[2020-08-14 20:22] janpio opened #846 ""Wrong host info" or "Can't reach database server at 127.0.0.1:3306""
After @coleaeason fixed https://github.com/Expensify/Bedrock/issues/818 they already posted, that our code was failing with `Can't reach database server at 127.0.0.1:3306`. I could confirm this now on our system:

[code]

(from https://github.com/prisma/e2e-tests/pull/610/checks?check_run_id=986450520)

This is output from `/var/log/syslog` after running `bedrock -fork` to confirm Bedrock did inde

[2020-09-16 13:57] DianaIvaykina opened #877 "Приглашение на день рождения."
Денис, привет! Надеюсь, ты в порядке. Признаюсь честно, я не знаю, в какой стране ты сейчас, но я хочу тебя пригласить на свой день рождения. Совсем скоро мне исполнится восемнадцать лет, я уже на пороге взрослой жизни.
Знаешь, за это время я нашла больше, чем ты думаешь. Сейчас тебе уже нечего бояться. Пойми, я уже взрослая и мне не нужен отец, который меня будет воспитывать. Однако, я всегда буд

[2020-09-16 14:01] DianaIvaykina opened #878 "Приглашение на день рождения."
Денис, привет! Надеюсь, ты в порядке. Признаюсь честно, я не знаю, в какой стране ты сейчас, но я хочу тебя пригласить на свой день рождения. Совсем скоро мне исполнится восемнадцать лет, я уже на пороге взрослой жизни.
Знаешь, за это время я нашла больше, чем ты думаешь. Сейчас тебе уже нечего бояться. Пойми, я уже взрослая и мне не нужен отец, который меня будет воспитывать. Однако, я всегда буд

[2020-09-16 14:02] DianaIvaykina opened #879 "Приглашение на день рождения."
Денис, привет! Надеюсь, ты в порядке. Признаюсь честно, я не знаю, в какой стране ты сейчас, но я хочу тебя пригласить на свой день рождения. Совсем скоро мне исполнится восемнадцать лет, я уже на пороге взрослой жизни.
Знаешь, за это время я нашла больше, чем ты думаешь. Сейчас тебе уже нечего бояться. Пойми, я уже взрослая и мне не нужен отец, который меня будет воспитывать. Однако, я всегда буд

[2020-11-25 19:36] hexabyte23 opened #936 "MacOS port"
Hello,

Any plans to direct support Xcode compiler instead of GCC6 for Mac ?

Thanks

[2020-12-01 08:29] samsk opened #937 "MySQL plugin is not processing command line arguments"
Bedrock MySQL is not processing command line arguments, concretely -mysql.host.
There is a bug in args processing code (fix follows).

[2020-12-13 07:22] jasperhuangg opened #942 "libstuff/libstuff.h:5:10: fatal error: arpa/inet.h: No such file or directory"
Hi! I'm following the [Bedrock installation guide](https://bedrockdb.com/#how-to-get-it) for MacOS and get the following error when I try to run `make`

[code]

This is how my `system ./configure` command looks after updating `pcre` like it says in the instructions:
[code]

[2020-12-18 23:43] jveres opened #944 "Make generate_series() available"
Hi! Would it be possible to compile sqlite with series.c thus making `generate_series()` available?
https://sqlite.org/series.html

[2020-12-19 01:07] quinthar commented on #944
Good question!  Can you submit a PR to make it happen?

[2020-12-19 20:32] jveres commented on #944
Okay, I figured it out and got it working. Before I issue the PR could you please specify which sqlite release/trunk are you using for [building](https://sqlite.org/amalgamation.html) `sqlite3.c` for _libstuff_? I guess it's [d2de81a24f](https://www.sqlite.org/cgi/src/info/d2de81a24f82d71d), correct?

[2020-12-19 22:00] quinthar commented on #944
@tylerkaraszewski can you answer this?

[2020-12-20 19:59] jveres commented on #944
So `sqlite_source_id()` gives `2020-08-31 20:37:00 1d98472277ff131960a7718cd57af5b6ed4ead811a9220a6eb35ff505bf5alt2` which means that [this](https://www2.sqlite.org/src/info/1d98472277ff1319) check-in has been used but since modified in Bedrock.
I have no confidence in simply overwriting `libstuff/sqlite3.c` with a new version even though tests pass.

[2020-12-21 10:05] jveres commented on #944
I ended up adding `generate_series()` and a bunch of other extensions to my custom Docker build.
https://github.com/jveres/bedrock-xsim

[2020-12-21 10:05] #944 closed

[2021-02-08 02:37] rbucker opened #958 "controlport CLI param missing from help and causing address in use error"
In the multiplezone on one server [doc](https://bedrockdb.com/multizone.html) it is suggested that it is possible to run multiple bedrock servers on the same machine.... and the CLI is provided.  When I tried to run the 3 commands I got all sorts of errors which I finally identified as an `address already in use localhost:9999`.

I was not able to locate `localhost:9999` in the help so I search th

[2021-02-12 21:44] cannikin commented on #846
We'd love to make Bedrock a first-class citizen for Redwood but we're stuck on this weird error! Is there anything we can do to help debug?

[2021-02-25 20:09] calfersantos opened #968 "--"
--

[2021-04-07 16:01] #843 closed

[2021-04-30 20:44] janpio opened #1019 "Failed to open TCP port 'localhost:9999': couldn't bind(errno=98 'Address already in use')"
When running this:

[code]

I have the following in `cat /var/log/syslog`:

[code]

[2021-04-30 20:49] janpio commented on #1019
Seems workaround is to use `-controlPort localhost:8889` or similar, but that param is not documented on https://bedrockdb.com/cli.html

[2021-04-30 22:21] janpio opened #1020 "Failed to open TCP port 'localhost:3306': couldn't bind(errno=98 'Address already in use')"
After a bit of trial error I arrive at the following command to start a server: `bedrock -serverHost localhost:3000 -nodeHost localhost:3001 -controlPort localhost:3333 -mysql.host localhost:3307 &`

Now I am getting an "address already in use" error though, even though Bedrock itself seems to be the one using that address:

[code]

So we have:
[code]

[2021-04-30 22:29] janpio commented on #1020
Looks like it is starting the same server twice...

[2021-04-30 23:31] janpio commented on #1020
Solution: Running the "Install" commands from the documentation already starts a bedrock server:

[code]

[2021-04-30 23:37] #1020 closed

[2021-04-30 23:37] janpio commented on #1019
https://github.com/Expensify/Bedrock/issues/1020#issuecomment-830456749

[2021-04-30 23:37] #1019 closed

[2021-05-01 00:34] janpio commented on #846
Discovered `-v` and also have a more stable setup where I know it is reading our local SQLite database - but the MySQL connection still can not be established. Here are some logs:

[code]

[2021-10-04 16:28] senojsitruc commented on #336
Three and a half years later, and this resolves the same issue for me, and nothing in the setup documentation mentioned this hostname requirement....

[2021-10-21 06:52] LeonGr opened #1112 "yaourt is no longer maintaned, should be replaced in the installation guide"
The yaourt AUR helper (https://github.com/archlinuxfr/yaourt) is unmaintained since 2017. So the Arch installation command (`yaourt -S bedrock`) should be updated to use a different AUR helper. I would suggest either paru (https://github.com/Morganamilo/paru/) or yay (https://github.com/Jguer/yay), which seem to be the most popular AUR helpers at the moment.

[2021-11-30 16:40] AstraLuma opened #1132 "Formal Protocol Description?"
Something that seems to be missing is a proper protocol description?

It makes it more difficult to write client libraries without this.

[2021-11-30 16:52] AstraLuma commented on #658
+1 for containers.

Makes it easier to spin up test environments and clusters.

Makes development environments simpler.

Enables Bedrock on container orchestrators.

[2021-11-30 16:59] AstraLuma opened #1133 "Jobs plugin: NACK?"
Something that seems to be missing from the job queue: The ability to fail/retry jobs (aka NACKing).

A job fails to run, either because of a bug or an operational issue, so the worker should signal to Bedrock that the job attempt failed and it should be returned to the queue.

The obvious follow-up to this would be tracking & reporting of the number of retries, so that workers can make decisions

[2021-12-15 05:38] jmstacey opened #1142 "macOS Monterey Build Failure"
Unable to compile on macOS Monterey 12.1 (21C52)

side note: instructions should probably be `brew install gcc@9` instead of gcc@6  ?

Errors on make:
[code]

[2022-05-01 16:01] mindplay-dk commented on #1132
Bedrock supports the MySQL protocol - already supported on essentially every major platform.

Do we need a native client library?

[2022-05-02 04:36] AstraLuma commented on #1132
You can use the SQLite dialect over the MySQL wire protocol (if you have the appropriate plugin), but that doesn't give you access to the other plugins.

[2022-07-19 18:01] senojsitruc commented on #1142
There are also a number of other Linux-specific lines of code. I guess they gave up on multi-platform. I gave up when I got to  `sigtimedwait()`.

[2022-09-30 11:41] gigatexal opened #1392 "Last release in late 2020... is this project still a priority for Expensify?"
Basically as the title suggests. I am curious to invest time in this project but if it's stale or not a priority for Expensify I will look elsewhere.

[2022-10-19 15:46] senojsitruc opened #1396 "Blocking queries until a write operation has synchronized across the cluster?"
I've been trying to figure out how to know when a write query (insert, update, delete) has finished such that a subsequent read query will reflect that change.

Looking at the unit tests, internally it is possible to specify the synchronization mode, but is there a way to do that as a client? Or is there another way to accomplish this (other than polling for the change, of course)?

Thanks!